[2017-12-05 12:15] SamanthaDawsonBanks opened #10 "popping (polling) an empty queue"
what do we want to do if we try to 'pop' [technically you 'poll' a queue you 'pop' a stack] so 'poll' an empty queue?

one option is to return null but then we need to check all results for null.

another option is the Optional<T> but that has issues with serializable (and thus RMI)

another option is to always return the last result (so the queue never goes empty) but that might explode for other

[2017-12-05 12:16] SamanthaDawsonBanks opened #11 "RMI and serializable"
objects that are being used with RMI may need to be serializable???

adjust the data types?

[2017-12-06 08:48] stevempope commented on #10
The queue refers to the Path object does it not? In the constructor for a path, the destination should always be present, meaning we can’t ever reach that condition?

Another solution is to have a getter for the length and to poll that private variable instead of making a direct call to the queue. This keeps the bigO performance in a nice range too.

[2017-12-06 09:11] SamanthaDawsonBanks commented on #10
Yes the queue should say path, sorry I was in theory mode when I posted.

And yes, at least one node will be supplied to the constructor, but what happens if:

NumOfPolls > NumOfAdds +1

We create a path(suppling 1 node)
add n nodes
poll the path n times (meaning that it now only contains 1 node)
poll it for the last node (destination)
Then poll it again

[2017-12-08 16:05] SamanthaDawsonBanks commented on #10
Ok one change idea for the path object:
on creation must supply one waypoint (referred to as the 'destination')
other waypoints can be supplied via method (referred to as 'midpoints' [or other suggestions of a name])
polling a path will give one midpoint on a FIFO bases, unless there are no remaining midpoints in which case it will return the destination, the destination is never removed from the

[2017-12-09 11:00] SamanthaDawsonBanks commented on #10
possible fix in #12

[2017-12-09 18:14] SamanthaDawsonBanks opened #13 "mapLayer as a collection / linked list of cells"
with a 'cell' being an object with a x,y position and a n[3..] list of adjacent nodes

i'm having a data structure meltdown atm so need some more brains..... brains!!

[2017-12-09 18:22] SamanthaDawsonBanks commented on #13
might just need to rubber duck[1] this out {engage the bear!!!}:

[bear was removed... it was unbearable...]

but we cant just use an array as they might drive off the edge and need to be expanded, arraylist would fix bigger but only in x+ and y+ not x- or y-

one option is to use an array and manually handle rebuilding but that is O(N) of total data set (map size not layer size)

so LL of cells w

[2017-12-09 18:28] SamanthaDawsonBanks commented on #13
Pull a  starting GPS loc and have all cells xy as offset from start?

[2017-12-10 17:32] SamanthaDawsonBanks opened #14 "refactor waypoint from int to double"

[2017-12-10 17:52] SamanthaDawsonBanks commented on #14
WP is currently int x, int y. but I need to do some maths to it that result in real numbers. i think it should have always been a double just checking for sanity??

[2017-12-10 17:55] SamanthaDawsonBanks opened #16 "Clean up code"
Clean up code for style guide etc?
Every fortnight to keep down branching?

[2017-12-10 17:55] SamanthaDawsonBanks opened #17 "Document Code"
Document Code (javadoc etc)
as we go or every x weeks?
could be a job for someone that is not busy?

[2017-12-11 11:04] SamanthaDawsonBanks opened #18 "Test Issue"
Example link to PR #15

[2017-12-11 18:42] stevempope commented on #17
I am quite happy to go through and comment the code. I do feel we should all be doing this though, it will help being able to explain what each method is for when it comes to the final Viva.

[2017-12-11 18:47] stevempope commented on #14
Are you thinking of accepting decimal values to not lose accuracy? Or are you thinking of using integers to keep the calculation less processor intensive?

I think if we are to include decimals we agree on a level of floating point accuracy, maybe 3 decimal places. Any smaller and we risk a very intensive grid mapping process. For instance, if a return is more accurate than a grid, we may end up s

[2017-12-11 18:48] stevempope commented on #16
We agreed on using the Google Java Style guide, so perhaps this could be part of our Monday meetings?

I will add this to the agenda for tomorrow.

[2017-12-11 18:54] stevempope commented on #13
We know how many neighbours each cell in a map will have, because we dictate the grid shape. Does this not mean that we can use an Array? Each cell contains itself and then (if a square) 4 pointers to arrays to it's North, East, South and West.

Maybe I am being silly. Needs more Rubber Duck.

[2017-12-12 09:53] #18 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2017-12-12 09:56] SamanthaDawsonBanks commented on #14
yeah most of this is what i was thinking but also i need to rotate them:
newX = oldX * cosA - oldY * sinA
which results in a very non int number

[2017-12-12 21:55] SamanthaDawsonBanks opened #20 "Rotate map or robot"
all LiDAR returns will have a '0' value of in front of them (hopefully) so as the robot rotates that will no longer be 'north'

we need to either:

rotate every return
or
rotate the map when a bot turns

there are pros and cons to both (about 50/50 i think), I have a preference but reserving it till comment are in...
discuss...

[2017-12-12 22:36] SamanthaDawsonBanks commented on #13
I'm concerned about the O() ramifications of different data structures:
an array of [linked] cells could result in O(n)
also adding a new 'low end' row could be an issue?
...still ducking...

[2017-12-13 12:16] #10 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2017-12-13 12:18] stevempope commented on #14
Issue resolved by pull request #21

[2017-12-13 12:18] #14 closed, assigned to nobody

[2017-12-13 13:31] stevempope commented on #20
I believe we need to rotate on every return.

The advantages of doing so are:

- We are rotating a maximum of one data set each time, keeping processing in real-time quite low. This is important in smaller herds with less processing power.

- This approach is "functional" in its style, meaning an incoming layer does not cause a change to any of the other layers in a map. The rotated layer is then

[2017-12-13 13:41] stevempope commented on #11
I think we need to get a working model and add RMI when we are satisfied that we have working unit tests and can prove that our concept works. Once we are satisfied with this, then I feel RMI and hardware bits will fall into place easier.

[2017-12-14 09:36] stevempope opened #24 "Merging Pull Requests"
https://help.github.com/articles/about-pull-request-merges/

Why do we squash and merge requests, rather than use the default merge or rebase?

Squashing from the article seems to remove our ability to roll back to individual commits.

For example, if 9 out of 11 of my commits to a branch are great and the final two are found later to be faulty, shouldn't we be able to roll back the two and not lo

[2017-12-14 11:14] SamanthaDawsonBanks commented on #24
looks interesting, the short answer is that it is both the default and what i have been shown how to use it.
i believe there is an issue to do with there being too many commits on a main branch to be of use (this way each commit is a merge)
so i believe the roll back option is to:
undo the merge, then reawaken the branch, branch it as a hotfix, then create a new pull request
as opposed to keeping

[2017-12-14 11:43] stevempope commented on #24
Ok, I am happy with that as an option. My concern was as above, but re awakening branches and re-merging the valid changes seems appropriate.

[2017-12-14 11:43] #24 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2017-12-14 11:46] SamanthaDawsonBanks commented on #20
assuming rotate return (robot) that means that each robot (actually each drivable) needs to track its ϴ (theta) and (x,y) offset [for equivalent translate issue]
i'm currently thinking:
ArrayList int drivable.getRotations();
ArrayList int drivable.getTranslations();

but that questions:
int vs double (do we need less than a degree?, probably not but stepper is 1.8 degree steps so we might end up w

[2017-12-14 12:16] stevempope commented on #20
I envisioned a running total as an xy pair for the translation. That way, if we are recording the turns taken, you could "subtract" from the total to trace back along the path.

rotations should be a double if we are having steps of 1.8 degrees. Otherwise we lose either 0.8 or 0.2 degrees for every rotational step we take.

[2017-12-14 17:27] SamanthaDawsonBanks commented on #20
running position (translation) makes more sense, same logic applies to bearing (rotation) good call :)

as for int vs double its a bit more complicated than that:
the motor has 1.8 degree steps but that won't be 1.8 degree robot rotation [math to follow] so the question would be clarified as; do we care about greater than 1 degree of rotational accuracy?

[begin overly long math blah]
there are tw

[2017-12-14 17:32] SamanthaDawsonBanks commented on #20
![2017-12-14-17 06](https://user-images.githubusercontent.com/25463297/34006011-c3dff476-e0f4-11e7-80d9-6a3c8b67f72e.png)

[2017-12-15 12:15] stevempope commented on #20
I agree with the second option for rotation.

Purely for the sake of sanity, rotation against a central point means that we do not have to apply a second small translation to the map.

As the single step provides as close to half a degree as possible, we should agree on two bursts from the motor, amounting to 1.0012 degrees of turning. The compass unit could be used to determine if we ever perform

[2017-12-16 17:30] stevempope opened #30 "Use of nulls in the Herd and Member Objects"
I would like us as a group to review the Herd and Member classes.

@DavidAveryUoB has quite rightly raised that nulls are used and we should be exploring options that avoid the use of nulls.

I welcome this, however upon review some of the nulls refer to the presence of an object.

Is there a better way of representing these in our code?

[2017-12-17 09:34] #20 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2017-12-17 09:34] SamanthaDawsonBanks commented on #20
Sounds like a plan

[2017-12-17 09:41] SamanthaDawsonBanks commented on #30
Yeah revisiting this last night, I think I was just repeating Jim's 'never null' comments.
getLeader() needs to return something and if there is no leader what can we send back?
Optional<T> is a possibility but as per previous discussion #11 that might not be rmi'able.
We could have a dummy member but that would be against 'fail fast, fail hard' as it would appear to be a valid member until it was

[2017-12-17 10:04] SamanthaDawsonBanks opened #31 "Pathfinding input data type"
when designing the map I am now looking at the output so, Harry what datatype are you looking to have as the input to the pathfinding?

[2017-12-17 10:08] SamanthaDawsonBanks opened #32 "A* is 2D only?"
i was working on map grid shapes and that lead to some questions of adjacent nodes, I remember that Harry said that A* was only suitable for 2D maps and that might affect the way I build a map. So Harry can you expand on that point please?

[2017-12-17 10:10] SamanthaDawsonBanks opened #33 "Drive and Sense methods"
both the driver and the sense methods are currently on my list but I am behind on my work due to not allocating enough (any) time to the data structures. who fancies taking secondary on these methods?

[2017-12-17 12:12] RyanShoobert commented on #33
I'm a little behind on my bits as well but I'll be happy to help once I've caught up.

[2017-12-17 13:19] SamanthaDawsonBanks commented on #33
that would be great, anyone else got time to spare?

[2017-12-17 17:22] stevempope commented on #33
More than happy to help with these bits.

Are you looking for the Arduino side or Java side? Or both?

[2017-12-17 17:23] stevempope commented on #30
Ok, thank you for the input. I agree. As long as it is noted that it may return null, then nulls for objects are fine, but isEmpty should be used for lists.

[2017-12-17 17:54] #30 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2017-12-17 18:10] stevempope opened #34 "Arrangement of Classes"
Currently looking at our classes. Most reside in Common, but I am assuming this will change as the roles of the classes become clearer.

My current thinking is that we should have interfaces only in common, everything that relates to drawing a GUI and setting a Destination from the users point of view in ui, leaving the rest of the classes in the pi package.

Does this make sense? Is this the best

[2017-12-17 18:45] SamanthaDawsonBanks commented on #34
interfaces and maybe datatypes in common but yes pretty much, as for refoactoring late the IDE 'should' be able to update links, but it could invalidate any open branches that also have changes, so i'm thinking of wrapping this #34, #17 and #16 into one "clean up and refactor event" a bit like a code freeze or a milestone
comments??

[2017-12-17 18:46] SamanthaDawsonBanks commented on #33
C/Java some and some mostly C but also the facade stuff in J land

[2017-12-17 18:48] SamanthaDawsonBanks opened #35 "Project Logs"
in order for everyone to work together and for  jobs to be sensible allocated can everyone take some time to update and OD their progress log over the next few days please

[2017-12-18 15:58] HarryWJackson1996 commented on #32
Well it searches through the 2d space, but i do not believe it is strictly only for 2d maps. I think the emphasis is on the idea that it works best for 2D spaces but can be implemented in other ways? What did you have in mind? How are you planning to build the map?

[2017-12-18 16:00] HarryWJackson1996 commented on #35
Will do.

[2017-12-18 16:04] HarryWJackson1996 commented on #33
I don't mind giving it a look as well

[2017-12-18 16:10] HarryWJackson1996 commented on #31
Well the input for the path-finding would be a map, and how they did it last year was use an multi dimensional array of integers. I do not know if this is appropriate for what you are trying to achieve or if it fits into your work?

[2017-12-18 16:17] stevempope commented on #35
Process Log has been updated.

[2017-12-18 16:28] stevempope commented on #34
A milestone sounds very sensible. Perhaps at our first meeting back after the Christmas break we should commit to an "Alpha" milestone in which all of the core working classes are bolted together into a set.

[2017-12-18 17:31] SamanthaDawsonBanks commented on #31
Well part of it is the crossover with #32
As you say they currently use a 2d int array, but we know that their implementation is not very efficient.
Also there implementation used a fixed 800x800 where as ours will be dynamic.
So it's probably best if we design something new.

[2017-12-18 17:40] SamanthaDawsonBanks commented on #32
Map comments in #31 but for search info it could change the data type

[2017-12-18 21:04] SamanthaDawsonBanks commented on #32
issue discussion merged into #31

[2017-12-18 21:04] #32 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2017-12-18 21:09] SamanthaDawsonBanks commented on #31
sorry for the short reply in the other thread I was on my mobile.
i was looking at what a 'map' was and how to store one and that lead to thinking about A* and nodes etc.
so really we have one question in two parts:
what data structure do you want as the input to the pathfinder stuff,
and how flexible will A* be in both 3d environments (as it could matter for the map design to be extensible) and n

[2017-12-19 11:57] HarryWJackson1996 commented on #31
Hey, from my research to either, use a more efficient algorithm for searching 3d space, or its a problem associated with the heuristics implemented. Using A* to search a 3d space is inefficient because of how it expands on the nodes, but can be helped by using clever heuristics which could be an option.

In one example of an Optimized A* search algorithm they take in a map in the form:
private fin

[2017-12-19 14:20] SamanthaDawsonBanks commented on #31
seams like it might need a bit more research at some point (as the 3d and the n sided grid are similar) but for now...
if this was  the map
![2017-12-19-14 00](https://user-images.githubusercontent.com/25463297/34161138-7d932a8e-e4c7-11e7-868c-dd02d88f5c4b.png)
what would you like the data to look like?

[2017-12-19 17:10] HarryWJackson1996 commented on #31
too be honest I'm not sure, I thought that map provided would come in some form of an array? For the sake of the project what data type helps you finish the implementation of the map? Because tiles are going to be accessible/inaccessible I'm going to have to work out the distances between the robot and the accessible tiles provided in order to score them.

[2017-12-19 18:45] SamanthaDawsonBanks commented on #31
No worries, I just assumed that you might have had a look at it all from your search algorithm research.
So as a primer, and only based on my research over the last week or so (along with some chatting with Steve and Ryan) …
There are two ways of looking at any pathfinding; physically traveling in a direction (north, south, east, west or rotate ϴ° then move X meters), or separately, progressing fr

[2017-12-19 18:46] SamanthaDawsonBanks commented on #31
p.s. sorry if that sounded ranty or like I know better, it is just a run down of some research that came out of my investigation into storing maps

[2017-12-19 19:03] SamanthaDawsonBanks commented on #35
also on the subject of logs (lol) some guidance from the module handbook, module description and grading guidelines...

From the examiners' point of view, the process of research, investigation, thinking, learning and reviewing progress is just as important as the final state of any practical deliverable.

•	clear identification of the problem
•	a clear statement of the project’s aims and objectiv

[2017-12-20 19:06] HarryWJackson1996 commented on #31
This doesn't sound ranty but is very helpful. I understand what you mean about real distance vs nodal distance, and being able to extend a square to a cube is extremely useful. I will do some research on graph theory, but from reading what you wrote multiple times a collection could be a good idea, as it provides a lot of useful methods in the collection interface, especially when it comes to havi

[2018-01-04 17:31] SamanthaDawsonBanks opened #39 "Milestone 0"
***Please ALL read and REPLY***
Regrading (and merging) #34 #17 #16
there are some structural changes that need to be made to the file system, and they will require that all code be checked-in.
related to this it would be nice if we have a runable (but probably non-working) build some time soon

so I am proposing a milestone build to be done on 12/01/2018

to facilitate that also proposing a prebu

[2018-01-04 21:17] stevempope commented on #39
Understood and agreed. We need to have a working logical model soon.

[2018-01-08 15:37] SamanthaDawsonBanks commented on #39
#41 is all of the code I had checked out

[2018-01-08 18:33] RyanShoobert commented on #39
I have checked in my current RMI code in #40

[2018-01-13 12:03] SamanthaDawsonBanks commented on #39
I believe that the only code outstanding in your branch @HarryWJackson1996 ?

[2018-01-13 12:03] #11 closed, assigned to RyanShoobert

[2018-01-13 12:09] SamanthaDawsonBanks opened #42 "Development Environment"
for anyone having issues setting up their system or portable environment
here is a zip of my setup

[dead link]

[edit I have a copy on my keyring for the bandwidth challenged or those that want a quick tutorial]

[2018-01-15 20:13] SamanthaDawsonBanks commented on #39
Milestone 0 locked
I am starting the refactor so DO NOT pull code until we unlock!

[2018-01-15 22:07] SamanthaDawsonBanks commented on #34
#44

[2018-01-15 22:07] #34 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-01-15 22:08] SamanthaDawsonBanks commented on #39
#44 please san check and comment

[2018-01-23 10:15] SamanthaDawsonBanks commented on #39
merged and moving on to M1

[2018-01-23 10:15] #39 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-01-23 10:16] SamanthaDawsonBanks commented on #17
*Bump* can everyone [mostly me] check that their code has appropriate comments and any TODO/FIXME  [again mostly me] are current

[2018-01-23 10:17] #16 closed, assigned to nobody

[2018-01-23 10:18] SamanthaDawsonBanks commented on #13
discussed and going with the nested arrays of vertex

[2018-01-23 10:18] #13 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-01-23 10:18] SamanthaDawsonBanks commented on #31
discussed and currently going with handing over the map and allowing access to nested vertex

[2018-01-23 10:19] SamanthaDawsonBanks commented on #33
coolio ty all, sorry for falling behind

[2018-01-23 10:30] SamanthaDawsonBanks opened #46 "Milestones"
[Thread for M1 admin, issues should be separate]
***Do we want to set a date? - [one milestone every 4 weeks?]***
M1 - 2018-02-19
M2 - 2018-03-19
M3 - 2018-04-16
FINAL - 2018-05-14
***What is MVT (min viable target) for each?***
***What is final MVP (min viable product)?***

[2018-01-23 10:35] SamanthaDawsonBanks opened #47 "Final Report Structure"
any suggestions/comments/additions/etc on the final report structure?

last years final report structure was:
Section 1. The Group Project.
1.1 Introduction to the Project
1.2 The Overall Project Requirements
1.3 The Group Members and Assigned Tasks.

Section 2 Group Research
	2.X [by Member]

Section 3. Group Member Contributions.
	3.X [by Member]

Section 4. Issues Faced Throughout the Project.

[2018-01-23 10:40] SamanthaDawsonBanks opened #48 "Tidy up the OD"
at some point when we are all online so there are no sync issues we need to reorg the OD

[2018-01-23 10:42] SamanthaDawsonBanks opened #49 "Hardware day"
we discussed doing hardware day before we come back from study leave but that could be too short how about to M1?
if so what hardware do we need as it could take time to choose and get delivered?

[2018-01-23 10:47] SamanthaDawsonBanks commented on #49
LiDAR sensor - https://www.ebay.co.uk/itm/Neato-Botvac-Lidar-65-70E-75-80-85-D70-D80-D85-Robotic-Vacuum-Cleaner/272912290792?hash=item3f8ad713e8:g:2pMAAOSwcLxYCYv4
battery 12v - https://www.amazon.co.uk/FLOUREON%C2%AE11-1V-2200mAh-Rechargeable-Airplane-Helicopter/dp/B00N79TEBC?pd_rd_wg=gdBAz
battery 9v -
battery 5v/USB -

[2018-01-23 10:52] SamanthaDawsonBanks commented on #49
can someone read up on I2C and the sensors?
https://www.amazon.co.uk/gp/product/B01M0QL1F1/ref=oh_aui_detailpage_o05_s00?ie=UTF8&psc=1
https://www.amazon.co.uk/gp/product/B01KI42UDM/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1
https://www.amazon.co.uk/gp/product/B015R62YHI/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1
https://www.amazon.co.uk/gp/product/B00PIMRJX6/ref=oh_aui_detailpage_o02_s00?ie=UTF

[2018-01-23 10:56] RyanShoobert commented on #46
As discussed yesterday, I think the MVP for M1 should be a working solution but where many of the parts don't necessarily work together.

From there on, I think regular milestones/check-ins will be a good idea (sets 'deadlines' and stops us all sitting on stuff too long like I have at times).

[2018-01-23 17:17] SamanthaDawsonBanks opened #50 "Overall Block Digram - Execution Flow"
please check:
OD/MComp_Team/Documentation/Diagrams/Overall Block.vsdx
add to and comment please

[2018-01-26 13:44] HarryWJackson1996 commented on #46
I think it is a good idea have the milestones set in place, with the regular meetings to make sure we are actually on track to have a working solution,

[2018-01-28 12:09] SamanthaDawsonBanks opened #51 "Change Arduino Drive Sig from (x,y) to (ϴ,D)"
Currently the Drive method is prototyped as taking an absolute WP (X,Y) and then calculating an angle ϴ and distance.
comments on changing its sig to (ϴ,D)?

WP (X,Y) is common on all platforms
"Thing" (ϴ,D) is less processing on the 'duino?

[2018-01-28 13:29] SamanthaDawsonBanks opened #52 "Go backwards?"
we have rotate and forwards do we want reverse?

we can turn in place so no real need.
But it could be useful in some use cases?

[2018-01-28 18:04] SamanthaDawsonBanks opened #53 "Meeting Minutes"
I saw that there were two different formats / styles for our minutes. I have dropped two examples of typical minutes that are used in the UoB (school board and course board) they might be useful for style tips, of if you just want to see what we chat about.

OD\MCOMP_Team\example_minutes

[2018-01-28 20:12] stevempope commented on #53
I think it would be good to format it similar to official University style. Thanks for this Dave.

[2018-01-28 20:17] stevempope commented on #52
Whilst it isn't an issue for us and our research bot, its probably worth thinking about. There are several arguments, but the movement is modular. I think we shouldn't add it for our bot as it can rotate in its own length, perhaps we should instead talk about reversing as an additional feature for certain form factors. That might extend nicely into the modular/use case argument we are trying to ma

[2018-01-28 20:19] stevempope commented on #51
Perhaps we need to review the trigonometry as a group. Moving the angle calculation high in the abstraction layers reduces our modularity.

[2018-01-28 21:06] SamanthaDawsonBanks commented on #51
Yeah going over the trig could be useful it took me some time to get back up to speed.
In the meantime OD/research/David/Trig_Cheat_Sheet.pdf
For some basics

[2018-01-30 09:34] stevempope commented on #46
I agree with these dates for Milestones. Perhaps we should agree to these dates and make separate issues for each milestone and its spec?

[2018-01-30 10:43] SamanthaDawsonBanks commented on #46
The issues system has milestones built in, so I can create the 4 MS and then each issues for that MS gest assigned to it

[2018-01-30 10:56] SamanthaDawsonBanks commented on #46
![image](https://user-images.githubusercontent.com/25463297/35562650-ecc7fc86-05ab-11e8-814d-5cc783b9c789.png)
does this look like a working plan?

Milestone 1 - MVB / BETA
Due by February 19, 2018

Milestone 2 - TBC / RTM
Due by March 19, 2018

Milestone 3 - TBC / GOLD
Due by April 16, 2018

Milestone 4 - TBC / DOCUMENTATION
Due by May 14, 2018

[2018-01-30 11:14] stevempope commented on #46
All looks good to me. I would like us to formalise a spec for the first milestone, just so we can reallocate anything we feel that we are missing.

[2018-01-30 11:26] SamanthaDawsonBanks commented on #46
yeah each of them need to be defined / confirmed. Currently I have

"Ms1 MVP target is: code; exists (even if stubs), builds (no errors, but warning allowed) signature matches (or it won't build) but methods may not work together (internal testing, or dummy return values)"

comments / adjustments?

[2018-01-30 17:18] stevempope commented on #46
Well, we all agreed in our last meeting that we were aiming for a minimum viable product. So we really need to define what that means as checkboxes so we tick them off as done.

As I see it, the MVP should be:

**Hardware**
- Robot body is assembled
- Lidar sensor, Compass and Ultrasound sensors are attached
- Motors and power supply fitted, wheels attached
- Components wired in, Robot is able to

[2018-01-30 18:28] SamanthaDawsonBanks commented on #46
looks like a good list, i will spin up issues for each of them and assign them out then at they are completed they will link to the milestone

[2018-01-30 18:34] SamanthaDawsonBanks opened #54 "Robot body assembled"

[2018-01-30 18:34] SamanthaDawsonBanks opened #55 "Lidar sensor, Compass and Ultrasound sensors attached"

[2018-01-30 18:34] SamanthaDawsonBanks opened #56 "Motors and power supply fitted, wheels attached"

[2018-01-30 18:35] SamanthaDawsonBanks opened #57 "Components wired in, Robot able to power on and all devices check in as ready"

[2018-01-30 18:35] SamanthaDawsonBanks opened #58 "The Pi is able to fire up, create a Herd and then become Leader of that Herd"

[2018-01-30 18:35] SamanthaDawsonBanks opened #59 "Herd should be able to accept new members of the Herd. Members can also leave."

[2018-01-30 18:36] SamanthaDawsonBanks opened #60 "RMI setup"
An instance of our program must be able to invoke remote methods running on another instance of our program on different hardware.

[2018-01-30 18:37] SamanthaDawsonBanks opened #61 "RMI unit test"
A good unit test would be send an object and have it be returned, altered in some predetermined way.

[2018-01-30 18:37] SamanthaDawsonBanks opened #62 "Map Amalgamation"
In unit testing, a collection of map layers can be amalgamated and returned.

[2018-01-30 18:38] SamanthaDawsonBanks opened #63 "A* Pathfinding"
A generic map can be unit tested and our A* Pathfinding algorithm can successfully choose an approriate path.

[2018-01-30 18:38] SamanthaDawsonBanks opened #64 "The Leader of a Herd should be able to generate a certificate."

[2018-01-30 18:39] SamanthaDawsonBanks opened #65 "All process logs must be up to date"
All process logs must be up to date for 19/02/2018

[2018-01-30 18:39] SamanthaDawsonBanks opened #66 "All minutes must be up to date and in University style"
All minutes must be up to date and in University style for 19/02/2018

[2018-01-30 18:40] SamanthaDawsonBanks opened #67 "All links in existing documents must work"
All links in existing documents must reflect changes made by a refactor of the OneDrive file system.

[2018-01-30 18:41] #35 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-01-30 18:41] SamanthaDawsonBanks commented on #65
from #35 some guidance from the module handbook, module description and grading guidelines...

From the examiners' point of view, the process of research, investigation, thinking, learning and reviewing progress is just as important as the final state of any practical deliverable.

• clear identification of the problem
• a clear statement of the project’s aims and objectives
• background research

[2018-01-30 18:43] SamanthaDawsonBanks commented on #50
can people check the diag and see if anything needs adding

[2018-01-30 18:43] SamanthaDawsonBanks commented on #51
mostly discussed and decided to leave at WP(x,y) but there is a CS vs BS discussion to document

[2018-01-30 18:43] #51 closed, assigned to SamanthaDawsonBanks, CFuterman

[2018-01-30 18:44] SamanthaDawsonBanks commented on #52
Again discussed and decided to be CS vs case study, decided to leave as 'no reverse' but leave space in API

[2018-01-30 18:44] #52 closed, assigned to SamanthaDawsonBanks, CFuterman

[2018-01-30 18:45] SamanthaDawsonBanks commented on #54
who else wants in on this? assign yourself if you are interested in getting burnt by a soldering iron

[2018-01-30 18:49] SamanthaDawsonBanks commented on #33
reopened to link in with MS1

[2018-01-30 18:51] SamanthaDawsonBanks opened #68 "Heuristic Planning"
what and how to calc

[2018-01-30 18:53] SamanthaDawsonBanks commented on #62
as per #13 #31 and #32 there are some question as to the map object @HarryWJackson1996 I will grab you for coffee at some point to discuss it.

[2018-01-30 18:54] SamanthaDawsonBanks commented on #53
crossed in #66

[2018-01-30 18:54] #53 closed, assigned to stevempope, SamanthaDawsonBanks, CFuterman

[2018-01-30 19:02] CFuterman commented on #66
I will have the minutes from this week updated by tomorrow morning. I'll sort out the university style by next week's meeting.

[2018-01-31 14:26] SamanthaDawsonBanks opened #69 "Number of Vertex Edges"
so currently the number of vertex edges is equal to the 'sides' of the grid (so squares have 4).
This allows for 'side to side' navigation but not diagonal.
we could make edges = 2*sides (so square has 8, 4 cardinal and 4 diagonal)

pros:
better pathfinding

cons:
needs some adjusting to the heuristics (diagonal is equal to: √(1+1) not simply 1)

comments?

[2018-01-31 19:43] HarryWJackson1996 commented on #54
sounds like fun. However not too familiar with hardware, rather the assembly of it. But happy to join in.

[2018-01-31 19:46] HarryWJackson1996 commented on #62
Yeah no problem, let me know when you are free to discuss the map object.

[2018-01-31 19:52] HarryWJackson1996 commented on #69
I think as of milestone 1, we should only consider the edges of each square, so side to side navigation. Yes diagonal movement allows for better pathfinding, but I feel the focus should be on getting simple navigation working well before extending into 8 directions.

[2018-02-03 14:50] stevempope commented on #69
If we are making a 4 sided object behave as if it has 8, then why not have an 8 sided object, solving the issues with moving diagonally in a square based grid anyway (namely, how can we be sure that the robot  will fit through that gap)?

This isn't a Milestone 1 issue as such, as Harry says, but we are putting issues up for all timescales in the project. Maybe this is a M2 issue, so we have worki

[2018-02-03 14:53] stevempope commented on #69
I think my first part came across a little harsh. Squares aligned in a grid have edges that touch the neighbouring square by exactly the squares width and height. A square in a diagonal direction only touches the very corner of the square. If the north and east square is blocked and the northeast not, our pathfinding may assume a valid route where there is not one, but also in reverse assume a rou

[2018-02-03 15:00] stevempope commented on #68
Perhaps we could use cascading rules and assign a cumulative score at each junction.

An example would be we hand in a grid location and the first rule is "does it get me closer to destination" Which is applied a score if it does, say 5.

That same location is tested again against other rules and the score from each rule is added to the total value, which becomes the score. Obviously in a large se

[2018-02-06 22:30] SamanthaDawsonBanks opened #72 "Refactor Maps Region > Chunk > Vertex to be isomorphic"
when describing these abstractly they are all 'things' that have pointers to their 'neighbours' and hold collections of 'things'
so they are isomorphic and could be refactored to reduce use a runtime specific implementation.

but this is bigger/less important than M1 hence H2

[mostly just a comment so I remember to do (or farm out) this]

[2018-02-08 20:23] stevempope opened #73 "Getting the IP address of a Member"
We have discussed the network topology today.

One of the questions that arose was how we would extract the IP info of a client.

I am not sure what stage we need to extract the IP address but we talked about several models of access.

I have two methods. One polls the "active" network port. The method is lightweight but doesn't guarantee which network adapter responds.

The second method returns

[2018-02-08 20:24] stevempope commented on #73
Some reference from StackOverflow

https://stackoverflow.com/questions/9481865/getting-the-ip-address-of-the-current-machine-using-java

[2018-02-09 09:04] stevempope commented on #73
Apologies if my question was a little vague, it was getting late yesterday.

We need to extract the IP of the leader when it is promoted, so that members of the Herd can in the future be informed of their "gateway" address. We agreed that we would use the leader as the Access Point for the network, using DHCP to hand out IP addresses. The question then is how we handle the network adapters on the

[2018-02-09 09:05] stevempope commented on #73
Here is the oracle docs page for Inet address

https://docs.oracle.com/javase/7/docs/api/java/net/InetAddress.html

[2018-02-09 09:06] stevempope commented on #73
NetworkInterface is the alternative option for extracting network information

https://docs.oracle.com/javase/7/docs/api/java/net/NetworkInterface.html

[2018-02-09 09:53] SamanthaDawsonBanks commented on #73
Each interface should be named, so we can probably request info from wlan0 directly but depends on the api.
Disabling the rest could be a bit random as there will be loop back and bluetooth as well, disabling all but wifi could cripple other functions

[2018-02-09 17:11] stevempope commented on #73
I am leaning towards the Network Interfaces option. The Inet address option only hands us an IP address and also forces us to make assumptions about the number of available interfaces etc. If there aren't any objections I will write some code for the Network Interfaces (I already had a Inet address one) and generate a pull request.

[2018-02-09 17:22] stevempope opened #74 "Role of the Leader: Class or Process?"
We need to discuss how a leader works as part of a Herd.

Currently leader is a role that a member takes.

As the job of a leader is to distribute information about the Herd to other members, as well as hand chunks of map to processors to handle, should it be run in a separate Java process, or as part of the Herd process.

A key advantage of having the Leader in a separate process is that interact

[2018-02-10 15:07] SamanthaDawsonBanks commented on #69
Question moved to M2 - going with Edges = Sides

[2018-02-10 15:08] SamanthaDawsonBanks commented on #68
sounds reasonable, the first I would suggest would be that turn > drive with regards to cost. that way we can reduce the number of turns

[2018-02-10 15:10] SamanthaDawsonBanks opened #75 "Path Optimisation"
looking at A* (and other path-finding systems) often they come up with 'correct' sub-optimal paths, for M2 we should aim for some form of path 'cleaning'

[2018-02-10 21:12] SamanthaDawsonBanks commented on #55
see sensors help request in #49

[2018-02-10 21:13] SamanthaDawsonBanks commented on #56
can some one look into batteries plz as per request in #49

[2018-02-10 21:14] SamanthaDawsonBanks commented on #49
assuming the hardware questions get answered looking at next friday as the build day does that work for people?

[2018-02-10 23:01] stevempope commented on #73
So I have been reviewing the methods and have changed my mind totally. I have managed to get the InetAddress class to produce a list of all IPv4 and 6 addresses from the host client. There won't be any need to disable or assume anything. We can now simply use logic in the leader class to determine what details it will publish.

I will leave this issue open until I add the code and produce a pull r

[2018-02-12 12:48] stevempope commented on #73
Closing as I have made a pull request

[2018-02-12 12:48] #73 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-02-13 11:28] stevempope commented on #54
If everyone has some time this Friday (16th February) We should assemble what parts we have so far.

[2018-02-13 12:37] RyanShoobert commented on #54
I'm free on Friday and am happy to come along

[2018-02-15 10:41] SamanthaDawsonBanks commented on #31
Needs more clarification

[2018-02-15 11:22] SamanthaDawsonBanks commented on #64
https://stackoverflow.com/questions/26830617/java-running-bash-commands

[2018-02-15 11:27] stevempope commented on #64
The plan is to use the inbuilt OS (Rasbian) to generate a Self-Signed Certificate. The SSL cert will then be imported into the Java keystore and used to encrypt any traffic sent from the leader object.

[2018-02-15 12:00] stevempope commented on #49
As discussed today we need to produce a spec/design diagram to guide us through the build. We have drafted on the whiteboard the design. This will inform our build on Friday. I will produce a more detailed design later today.
![wp_20180215_11_52_39_rich](https://user-images.githubusercontent.com/20892974/36255643-bbdd0a8c-1247-11e8-8d79-e055702775ef.jpg)

[2018-02-15 14:39] stevempope commented on #49
This is the top down simplified view of the robot for tomorrows build. Actual implementation will produce a wiring diagram.
<img width="452" alt="robottopdown" src="https://user-images.githubusercontent.com/20892974/36261938-eee8ea34-125d-11e8-8cca-2897d97ae3aa.png">

[2018-02-16 16:59] SamanthaDawsonBanks commented on #49
progress so far...

[2018-02-16 17:00] SamanthaDawsonBanks commented on #49
![2018-02-16 16 57 00](https://user-images.githubusercontent.com/25463297/36319456-e22cd976-133a-11e8-866f-ae0327dc308a.jpg)

[2018-02-16 17:00] SamanthaDawsonBanks commented on #49
![2018-02-16 16 57 19](https://user-images.githubusercontent.com/25463297/36319470-ec0c5a70-133a-11e8-8b9f-6edf1324a43f.jpg)

[2018-02-16 17:01] SamanthaDawsonBanks commented on #49
![2018-02-16 16 57 30](https://user-images.githubusercontent.com/25463297/36319478-f44b74dc-133a-11e8-8f80-b1002f5e473f.jpg)

[2018-02-16 17:02] SamanthaDawsonBanks opened #79 "Parts List"
[to be filled in with build parts list]
- raspberry-pi-3-model-b - https://www.raspberrypi.org/products/raspberry-pi-3-model-b/
- Pibow 3 Coupé Ninja {case for Pi} - https://shop.pimoroni.com/collections/raspberry-pi/products/pibow-coupe-for-raspberry-pi-3
- Raspberry Pi 3 Heatsink - https://shop.pimoroni.com/products/heatsink
- Arduino {or compatible} MEGA 2560 R3 - https://www.amazon.co.uk/gp/pr

[2018-02-16 17:10] SamanthaDawsonBanks commented on #33
info about motors for drive
https://learn.adafruit.com/adafruit-motor-shield-v2-for-arduino/using-stepper-motors

[2018-02-16 17:12] SamanthaDawsonBanks commented on #33
info about LiDAR sensor
https://xv11hacking.wikispaces.com/LIDAR+Sensor
and
https://www.impulseadventure.com/elec/robot-lidar-neato-xv11.html

looking a the power specifications for the LiDAR we should really use a closed feedback loop to control PWM on some pins for speed control vs straight voltage.

this is good as it removed another power chain, but does require some more sensing and control c

[2018-02-16 17:17] SamanthaDawsonBanks commented on #58
Raspbian installed (it comes with JRE) need some bits from WiFi etc

[2018-02-16 17:18] SamanthaDawsonBanks commented on #50
anyone got any comments / edits / additions

[2018-02-16 17:20] SamanthaDawsonBanks commented on #56
Adjusted MS to M2 awaiting 12v battery

[2018-02-17 15:36] SamanthaDawsonBanks commented on #58
pi arduino info
https://wiki.debian.org/Arduino

[2018-02-17 15:36] #42 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-02-18 13:31] HarryWJackson1996 opened #80 "Vertex: Blocked, Unblocked and null"
For clarification, if an edge points to null then there is no data associated with that connected Vertex? The vertex is in one of three states, Blocked, Unblocked and null.  If it is null the bot can still traverse it.

[2018-02-18 15:38] SamanthaDawsonBanks commented on #80
Yeah, I'm still trying to work out the best way to model this bit (hence #13 and #31).
but in general:
a map starts out 'blank' so all vertices (vertexes) are just pointers to null [to save storage space or the map data structure get big very fast]
when a data point is added that point is set to "blocked" [a final static instance of vertex that can be check for using .equals()]
AND all vertices th

[2018-02-18 15:52] SamanthaDawsonBanks commented on #80
if we assume:
0,0 in the bottom left corner;
starting loc of (0,5) [the gap on the left side of the map]
destination of (14,7) [the top block of the gap on the right]

we see that some of the node that will be searched will exist and some will be null even in a 'fully' mapped room

equally if the destination is "off in the cloud of null-space"  say at (17,1) [bottom right corner of the new extende

[2018-02-18 15:58] SamanthaDawsonBanks commented on #80
so.... it's a little like a minesweeper map
![image](https://user-images.githubusercontent.com/25463297/36353897-7b46f026-14c4-11e8-9550-b43ce586b0ca.png)
[http://minesweeperonline.com/#]

[2018-02-18 16:01] SamanthaDawsonBanks commented on #31
as per #80 the current data type will be a starting vertex (assuming we are starting on map... that might need some thought) with n neighbours that can be got through recursive calls of
this.getOpenNeighbours()

[2018-02-18 22:46] HarryWJackson1996 commented on #80
So from that i can understand that if an object exists in a tile, that tile is set to blocked. All the pointers around it from the other tiles are set to blocked. However if no object exists with in a tile and its pointer is not set to blocked then its null (or if its diagonal of a blocked tile).

[2018-02-18 22:48] HarryWJackson1996 commented on #80
However is the grid overlay just preset to the whole search space or only on the currently known space? Because in the above example that is when the whole map is known.
![blocked-unblocked-null](https://user-images.githubusercontent.com/32718213/36357943-bc964e8a-14fd-11e8-9807-a5937e6bc345.png)
![blocked-unblocked-null-nogrid](https://user-images.githubusercontent.com/32718213/36357944-bcb02fb2-

[2018-02-18 22:51] HarryWJackson1996 commented on #80
Because given that was the first snapshot. Based on the first diagram would all other white tiles be considered null until the robot has moved, re-scanned from its new position and updated the map with the new relevant objects?

[2018-02-18 23:10] HarryWJackson1996 commented on #80
I apologize for all the questions, but completely understanding the map and the theory applied to it helps me when considering path optimization.

[2018-02-19 09:11] SamanthaDawsonBanks commented on #80
yeah no worries mate, questions are good they show that we are all working as a team :)
to answer: the grid always 'exists' as there is a 64x64 array of storage that can hold vertices, but the array is uninitialised so they all point to null until something is written to that space

![nullmap](https://user-images.githubusercontent.com/25463297/36369906-e99a2350-1554-11e8-834a-617cb1ebe42c.png)

[2018-02-19 16:07] HarryWJackson1996 commented on #80
Yeah that image is what i would of expected to see and really helps when implementing path optimization! :)

[2018-02-20 14:00] SamanthaDawsonBanks commented on #80
closed, as answered

[2018-02-20 14:00] #80 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-02-20 14:01] #54 closed, assigned to stevempope, SamanthaDawsonBanks, HarryWJackson1996

[2018-02-20 14:05] SamanthaDawsonBanks commented on #74
current working plan is separate <processes>
so that the leader <-> member relation is always serviced by RMI even when on one bot?

[2018-02-20 14:07] SamanthaDawsonBanks commented on #58
pi is setup and has both arduino and eclipse installed (I will setup the 2nd SD Card) [and probably a backup one]
over to java land...

[2018-02-20 14:10] SamanthaDawsonBanks commented on #55
compass / sensor has been soldered, so is plugin ready, ultrasound sensors are attached to their brackets just need attaching to the chassis

[2018-02-20 14:12] SamanthaDawsonBanks commented on #57
awaiting power supply (motor battery and LiDAR battery) eta 3 days

[2018-02-20 14:33] stevempope commented on #64
Closed as merged

[2018-02-20 14:33] #64 closed, assigned to stevempope, RyanShoobert

[2018-02-20 14:38] SamanthaDawsonBanks commented on #33
Speed should be 180-320 rpm for good data 240 is 3.3v on a 'clean' sensor but does drift

the simplest way to do this is to use AnalogWrite:
https://www.arduino.cc/en/Tutorial/PWM
start it at AnalogWrite(167) //66% of 5v ≈ 3.3v
then on each sense:
if (speed < 220) {inc pwm}
if (speed > 260) {dec pwm}

comments?

[2018-02-20 15:42] CFuterman opened #82 "Executive Summaries"
In professional and research projects, often you must be able to explain your work in non technical speech i.e, in a viva like we have done. I think it may be useful to be able to write down just a short summary in this way just for some practice. It will also help me to get a better understanding as someone who isn't as technical on what it is that your research will achieve.

I have made a folde

[2018-02-20 16:25] stevempope commented on #82
All done. Really good idea for developing our skills beyond Computer Science.

[2018-02-20 17:39] SamanthaDawsonBanks commented on #82
Uploaded, yeah nice one mate its good practise to see the connection between research and business application.

[2018-02-20 17:42] CFuterman commented on #82
I'm working tonight, so tomorrow I will look over what you guys have got and give my feedback at our meeting on Thursday.

[2018-02-21 20:38] stevempope commented on #55
Everything for this is issue apart from attaching the LiDAR sensor is now complete.

[2018-02-21 20:50] stevempope commented on #49
![20180220_115330242_ios](https://user-images.githubusercontent.com/20892974/36504251-ce05efa8-1747-11e8-8e48-dad6d98faa16.jpg)
![20180220_115330345_ios](https://user-images.githubusercontent.com/20892974/36504252-ce2b129c-1747-11e8-95a4-aa00377325ec.jpg)
![20180220_115358386_ios](https://user-images.githubusercontent.com/20892974/36504253-ce4b90ee-1747-11e8-814a-f95b9733c86e.jpg)
![wp_20180220_18

[2018-02-21 21:13] stevempope opened #83 "Creating the Drive Method"
Hi all,

As in #51, Dave has done a lot of research regarding the required trigonometry to allow us to use the Arduino to calculate the number of pulses to the stepper motor (allowing us to turn and move the robot). I have volunteered to create the drive method, but I want to check that I have my circle theory right.

Please see below the Whiteboard photos and finalised pseudo maths/code for the d

[2018-02-22 11:14] CFuterman commented on #46
I have adjusted the milestone dates due to the fact that we now meet on a Thursday rather than a Monday. So the new milestone dates will end the previous Thursday so what the date was.

[2018-02-22 11:25] CFuterman commented on #46
Milestone 2 to do list:

- Complete outstanding issues from Milestone 1

- Implementation plan

- Build GUI

- Change from digital pin to I2C for ultrasound sensors

- Unit tests for all classes

- JavaDoc comments for all classes

- Collaborate with Nathan on Quadcopter

- All classes behave as they should - formal proof

- Integration testing

[2018-02-22 11:26] CFuterman opened #84 "Complete outstanding issues from MS1"

[2018-02-22 11:27] CFuterman opened #85 "Implementation Plan"

[2018-02-22 11:29] CFuterman opened #86 "Build GUI"

[2018-02-22 11:30] CFuterman opened #87 "Change from digital pin to I2C for ultrasound sensors"

[2018-02-22 11:30] CFuterman opened #88 "Unit Tests for all classes"

[2018-02-22 11:31] CFuterman opened #89 "JavaDoc comments for all classes"

[2018-02-22 11:31] CFuterman opened #90 "Publish Open API - Collaborate with Nathan on Quadcopter"

[2018-02-22 11:33] CFuterman opened #91 "All classes behave as they should - formal proof"

[2018-02-22 11:34] CFuterman opened #92 "Integration Testing"

[2018-02-23 09:17] stevempope commented on #67
This will tie into our refactoring of the OD folder. @DavidAveryUoB and @RyanShoobertUoB would you please put a changelog of what gets moved in here so that we can check them off in our documents?

Suggested format:

Old folder/filepath -> New folder/filepath

[2018-02-23 09:35] stevempope commented on #86
I was thinking for a GUI design, we should have a "live" view of what each lidar sensor is seeing, plus maybe some information about herd members and abilities. Any thoughts to chuck in?

[2018-02-23 09:56] RyanShoobert commented on #67
Agreed, this will tie in with #48 and a file documenting these changes is a good idea.

I will have a chat with @DavidAveryUoB and we'll get this refactor done.

[2018-02-23 10:10] HarryWJackson1996 commented on #86
I think it is a great idea to have a live view of what each member is viewing. Showing some information about each member is also quite useful. By doing so can closely monitor each individual herd member. With regards to that idea, have you thought about the implementation?

[2018-02-23 10:17] HarryWJackson1996 commented on #83
I have begun implementing the maths for the drive functionality based on the the diagrams and images provided. From our last meeting if i'm correct, angles needed to be in degrees? This is because the math library returns the results in terms of radians and therefore will need to be converted. Today I'm testing the code to make sure it actually works from a mock up scenario, as i'm not 100% sure t

[2018-02-23 10:22] HarryWJackson1996 opened #93 "Map Test"
As previously mentioned in our meeting I was having problems creating a map to test the A* search against as I struggle implementing code when I cant check if it actually works. Any thoughts on how you think a test map should be implemented?

[2018-02-23 10:22] CFuterman commented on #86
That's a good idea, just think about from the user's point of view that it must be clear which LiDAR sensor they are seeing the information from otherwise it will be easy to get confused.

[2018-02-23 10:35] stevempope commented on #86
Yeah, so I was thinking have a robot image in a frame, with the raw sensor output on screen. We have existing code to map lidar output to screen. The "grid" would be applied at the software level for pathfinding. I need to speak to @DavidAveryUoB but we could overlay a grid as another view?

[2018-02-23 10:38] stevempope commented on #84
Current outstanding issues are #33, #55, #57, #58, #59, #60, #61, #62, #63, #68 and #74 although I believe that we are close to completion on most.

[2018-02-23 10:40] stevempope commented on #47
Sorry for not providing an answer to this before. I feel the report should have section 1 and be a combined effort by all, with 2,3 and 4 a concatenation of our individual work.

As appendicies, we need screens of the GitHub, Facebook Chat and our process logs.

[2018-02-23 10:42] stevempope commented on #72
You are right. The classes have identical method sigs. The only advantage I can see is they are easier to explain. Really though a region contains n number regions to fill the world and so on.

[2018-02-23 10:43] stevempope commented on #66
How are we for minutes? Our meetings have changed purpose from the "planning" section, as we are coding more. Do we still need to produce minutes where the agenda is "keep coding" or "reach milestones"?

[2018-02-23 10:44] stevempope commented on #60
Are we able to use this now @RyanShoobertUoB?

[2018-02-23 10:49] stevempope opened #94 "Main Class"
Hi All,

We need a method Main which fires up on the Pi. I was thinking of feeding the program a list of abilities for research purposes at the minute.

For each ability in the list provided to the program "String [] args" or Enum [] args, fire up a single member object with those abilities.

That member becomes the leader of its own Herd. Main should then have some methods that handle data reciev

[2018-02-23 11:41] SamanthaDawsonBanks commented on #62
current half baked map was PR'ed with #81

I am planning to place this **on hold**

if anyone needs any methods (such as data output) please post the signature here and I will  hotfix them in.

[2018-02-23 11:42] SamanthaDawsonBanks commented on #93
I will rough together a test one asap sorry that it has held you up :)

[2018-02-23 12:04] SamanthaDawsonBanks commented on #94
If you abstract "view" to mean Input/Output
I would go with MVC as LiDAR / motors in the "view/controller"
maps, paths and path-finding in the "Model"
all over the Client/Server pattern
so...
![image](https://user-images.githubusercontent.com/25463297/36593438-9df7ac5c-1891-11e8-966f-7b56f46049b8.png)
with green as Client and orange as Server?

[2018-02-23 12:12] SamanthaDawsonBanks commented on #90
current plan is to use some form of Bluetooth beacon for the QC (quadcopter) to be able to locate us (Nathan is thinking of adding a Pi Zero W tot eh QC) additionally by adding the QC to the herd it can hand in data in the form of peudo-LiDAR reads (subject to object definition) so I'm thinking a member that is a Sensor but not processor/driver(although that could be an extension)/Dest_setter(ext)

[2018-02-23 12:13] SamanthaDawsonBanks commented on #86
with the planned map structure we have access to latest (well all ever) LiDAR reads and the gridded map so it should be easy enough to give a suitable interface

[2018-02-23 12:14] SamanthaDawsonBanks commented on #86
The LiDAR will be in the form of collection of WPs and the total map is already gridded

[2018-02-23 12:15] SamanthaDawsonBanks commented on #86
![image](https://user-images.githubusercontent.com/25463297/36593820-46d0cc22-1893-11e8-8785-4c42044baa60.png)
and
![image](https://user-images.githubusercontent.com/25463297/36593827-4b82665e-1893-11e8-8b8b-7bbb2e1b7b5f.png)

[2018-02-23 12:53] SamanthaDawsonBanks commented on #93
#96 for the dummy map, just hacking together a map that "works"

[2018-02-23 12:54] SamanthaDawsonBanks commented on #94
encompasses / related to #60

[2018-02-23 12:55] SamanthaDawsonBanks commented on #89
I'm terrible at documentation ("bad Dave no doc = bad coder") if anyone is available and looking for somersaulting to do can they give me a hand / some pointers

[2018-02-23 12:56] SamanthaDawsonBanks commented on #69
closed as answered

[2018-02-23 12:56] #69 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-02-23 12:57] SamanthaDawsonBanks commented on #68
crosses with #75

[2018-02-23 13:18] HarryWJackson1996 commented on #93
Ok thanks thats great! So based on whats stated in #96, there is a dummy map but it currently cant be used to test the A* until the map has been implemented?

[2018-02-23 14:26] SamanthaDawsonBanks commented on #87
i2c US sensors seem to be £30+ each
one option is to embed a atTiny as per:
https://gist.github.com/ajfisher/1d57c5f845c376f04fbb
https://www.adafruit.com/product/1501

or to stay with the digital pin design?

comments?

[2018-02-23 14:27] SamanthaDawsonBanks commented on #93
correct i will be sorting the map today

[2018-02-23 14:47] SamanthaDawsonBanks commented on #74
crosses with #94

[2018-02-23 16:01] HarryWJackson1996 commented on #93
ah great, thanks for the help! Its really appreciated! :)

[2018-02-23 18:33] CFuterman commented on #89
I'm happy to help give a hand at the documentation. On the next meeting, I am happy to stay a bit longer in order to give a hand in documentation, whether it is just to template some things for you to fill in or sit with you and do it with you. Let me know.

[2018-02-23 18:37] CFuterman commented on #84
As this is the case, is it realistic to set this as a target for next week's meeting aim? This way we can use this as a start of ticking off things for M2, which as a reminder, is March 15th.

[2018-02-23 18:38] CFuterman commented on #84
Anything that can use assistance of that you know I would be assistance of, please let me know. Thanks!

[2018-02-24 08:36] SamanthaDawsonBanks commented on #84
next Thursday is a good goal but most of us have 1-2 other bits of CW due in the next 7 days.
i'm hoping to get my project bits to a point where they are not delaying anyone else then, I will be probably focus on other CW for a week before returning to project stuff

[2018-02-24 08:38] SamanthaDawsonBanks commented on #33
also remember that there are some flowcharts that define some of these bits in OD/docs/diagrams/flowcharts

[2018-02-24 08:39] SamanthaDawsonBanks commented on #55
and compass, but that is just i2c pretty much straight on to the board

[2018-02-24 08:39] SamanthaDawsonBanks commented on #57
power stuff is here fitting soon

[2018-02-24 12:14] SamanthaDawsonBanks opened #99 "refactor Map storage from static to parent in constructor"
currently the map data bits (region, chunk, and vertex) access the parent in a static way.
this means that a Map can only have 1 GriddedMap (not specifically a problem bout limits extension) [also bad practise as the static tends to bubble up and down the stack]
adding the parent (typically "this") to the constructor will allow the child to access methods in the parent which will reduce the proces

[2018-02-24 12:18] SamanthaDawsonBanks opened #100 "convert hardware from proto to production"
- re-drill chassis board
- change all terminals to screw type
- fit case to Arduino/shields

[2018-02-24 14:30] CFuterman commented on #85
When writing this document, I will be in need of some functional, non-functional and technical requirements. I will be starting with the functional, but will be in need of some non functional and technical so that I can start writing this. Thank you in advance.

[2018-02-24 14:32] HarryWJackson1996 commented on #84
Im with David I try and get my bits up to date, but I have two impending deadline approaching.

[2018-02-24 16:58] stevempope commented on #100
Name a date you are free and I am more than happy to participate. I presume the building will be at yours?

[2018-02-24 17:01] stevempope commented on #94
Ok thanks for the input Dave. Ryan can we arrange to meet this week and talk about this structure?

[2018-02-24 17:17] SamanthaDawsonBanks commented on #100
yeah 2nd build day at mine, the build should be more streamlined this time.
date will probably be after MS2 so once we have shaken all the bugs out of the hardware design

[2018-02-24 18:11] SamanthaDawsonBanks opened #101 "Herd LN 130 uses String not Enum?"
https://github.com/DavidAveryUoB/Team_Project/blob/050774268fa7d5112671e7939fbfe48f9e91e20e/mcomp_Java/src/common/objects/Herd.java#L130

probably just one that got missed during the refactor?

[does imply that regression testing missed adding a second "destSetter"]

[2018-02-24 21:42] HarryWJackson1996 commented on #100
Sounds like a good plan.

[2018-02-24 21:44] HarryWJackson1996 opened #102 "Radians or degrees"
Hi, with regards to theta and phi do you want the angles to be returned in terms of Radians or Degrees?

[2018-02-24 22:00] SamanthaDawsonBanks commented on #102
Probably degrees, but to be honest "steps"
https://www.adafruit.com/product/324

[2018-02-24 22:15] HarryWJackson1996 commented on #102
Ok no problem thanks.

[2018-02-25 16:09] SamanthaDawsonBanks commented on #31
#103
if given a Waypoint [w] and a Map [m]:
m.amalgamatedMap.getVertex(w)
will give you the Vertex [v]
then:
v.edges[] is an array of pointers to its neighbours

so if you call it with you start point as w, you can a* until you find dest D

[2018-02-25 16:09] SamanthaDawsonBanks commented on #62
"working" map is in #103 for consideration

[2018-02-25 16:10] SamanthaDawsonBanks commented on #93
map and test are both in #103

[2018-02-25 16:12] SamanthaDawsonBanks commented on #99
actually did this as part of a map rework, its still a bit crazy as now there are references to parent.parent.parent.stuff
but mostly done

[2018-02-25 16:12] #99 closed, assigned to SamanthaDawsonBanks

[2018-02-25 16:14] SamanthaDawsonBanks commented on #72
and all of the internal math is just gridsize^[how nested this layer is] so:
vert = ^0
chunk = ^1
region = ^2
and griddedmap = ^3

[2018-02-25 16:16] SamanthaDawsonBanks commented on #93
oh and the test includes the presentation test map

[2018-02-25 16:43] SamanthaDawsonBanks commented on #102
in the end it will be "steps" but that will be relative the length of the wheelbase and the circumference of the wheel see #20 for mega math

[2018-02-25 16:44] SamanthaDawsonBanks commented on #83
reference math is in #20

[2018-02-25 16:58] SamanthaDawsonBanks commented on #94
based on the proto herd life-cycle; and assuming that #74 = process
I think:
State 1 will be the Member Process [MemberMain] starting up (with appropriate abilities info) and that including the transition to State 2 {single member in a herd with no leader}

State 2 (or 2a) *MUST* result in an election and that election will spawn the Leader Process [LeaderMain] allowing for a transition to 3/3a

S

[2018-02-25 17:48] stevempope opened #104 "Reviewing Git Requests"
Hi all,

We need to talk about the rate at which Pull Requests are being reviewed.

Currently we have two open and I don't feel comfortable extending the requests until they are approved.

Our rules state that 3 of us, including the person filing the request, must have approved the request.

At the moment this is slowing bits down as we are not getting the reviews of the code.

I would like to sug

[2018-02-25 17:52] SamanthaDawsonBanks commented on #104
I don't like it as an idea as I feel it is taking us in a "less review" direction.
I would prefer to see us moving in a "more involved" direction?

[2018-02-25 17:58] SamanthaDawsonBanks commented on #104
One issue with pr code review is that as code blobs get bigger it becomes less sensible to actually review the way the code works, it becomes more a case of code style and programming approach

[2018-02-25 21:29] stevempope commented on #104
I don’t like it either, but I have a concern about getting finished and meeting our milestones

[2018-02-26 11:22] HarryWJackson1996 commented on #31
Ok that is amazing! thanks Dave. :)

[2018-02-26 11:29] HarryWJackson1996 opened #105 "Maths/GUI"
Hi Steve will you be available Tuesday or Wednesday at any point to discuss the Maths and GUI? I have implemented a large portion of the maths but want to run some things by you.

[2018-02-26 11:32] HarryWJackson1996 commented on #104
I have reviewed both pull requests and they have both been accepted. I agree they should be reviewed faster. Maybe a possibility is if we have any outstanding requests, if they are still open by Thursday, we can review it as a group and merge then and there (given its correct).

[2018-02-26 19:43] #93 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-02-26 19:43] #62 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-02-26 19:56] #102 closed, assigned to stevempope, SamanthaDawsonBanks, HarryWJackson1996

[2018-02-26 19:59] SamanthaDawsonBanks commented on #84
#62 done

[2018-02-26 20:05] SamanthaDawsonBanks commented on #47
no rush on this yet but if anyone has anything to put in the report yet please drop a copy into:
OD\MCOMP_Team\Final Report\
so i can start to compile it

[2018-02-26 20:36] SamanthaDawsonBanks commented on #94
with all this said:
I think we should refactor... the Pi Ui packages into something more Server/Client or M/CV
comments?

[2018-02-26 20:54] SamanthaDawsonBanks opened #108 ""Commit and push""
as the project gets bigger and thus PRs get more meaty, whilst also in response to a comment in #105

can everyone please commit and push (to an appropriate branch) every time (subject to being online of coarse) rather than just committing locally then pushing when "done"

the rational for this is:
- people know what is being worked on - {team job allocation but also no duplication}
- if you lose

[2018-02-26 20:58] SamanthaDawsonBanks commented on #47
separately; can someone take a look at the readme.md {there is probably a template somewhere} and a possible licence (might need to loop in Saeed on that one) for the project

[2018-02-26 23:11] #105 closed, assigned to stevempope, HarryWJackson1996

[2018-02-27 20:47] SamanthaDawsonBanks commented on #108
there seems to be a few issues with the way people are using git (to be discussed in the meeting) but can everyone check #42 so that we are all using the same build tools

[2018-02-27 20:49] SamanthaDawsonBanks commented on #42
for clarity we are using eclipse IDE with the slober Arduino plugin for C++ along with the eGit versioning tools

[2018-03-01 10:43] stevempope commented on #104
We have agreed in meeting 01/03/2018 that Harrys approach will be used. PR creators must close their own PR's when approved.

[2018-03-01 10:44] #104 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-01 10:45] HarryWJackson1996 commented on #68
The  stupid heuristics have been programmed and are ready to be used. Currently working on the the straight line vs  turn heuristic.

[2018-03-01 10:52] HarryWJackson1996 commented on #63
As mentioned in the previous meeting, I was struggling with the implementation of the A* without a testable map. Now the map has been finished it will should be relatively straightfoward to implement the A*. However other coursework deadlines are fast approaching. After the 02.03 The deadline would have passed and I can completely focus on finishing the algorithm

[2018-03-01 10:53] #108 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-01 10:53] #101 closed, assigned to stevempope, RyanShoobert

[2018-03-01 10:58] #31 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-01 11:00] SamanthaDawsonBanks commented on #85
yeah sounds good work on it on tuesday

[2018-03-01 11:24] #68 closed, assigned to HarryWJackson1996

[2018-03-01 11:26] RyanShoobert commented on #60
Setup code is currently done but some work is still needed on intrgerating this with the main method.

[2018-03-01 11:29] RyanShoobert commented on #61
Some of the main code still being written.
Test will follow shortly.

[2018-03-01 13:47] SamanthaDawsonBanks commented on #84
majority of the issues have either been completed or kicked down to ms2

[2018-03-01 13:47] #84 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-01 15:07] SamanthaDawsonBanks commented on #33
I have a branch checked-out for the main Arduino Setup and Loop stuff,
I will be assuming the following sigs:
<(ϴ,D)1...(ϴ,D)360>LiDARSense()
<(X,Y)1...(X,Y)360>LiDARToXY(<(ϴ,D)1...(ϴ,D)360>)
(X,Y)Drive(X,Y)
does that work for everyone?

[2018-03-04 14:05] RyanShoobert commented on #48
There might still be some work to do but is mostly done.

[2018-03-04 14:05] #48 closed, assigned to SamanthaDawsonBanks, RyanShoobert

[2018-03-04 14:10] RyanShoobert commented on #67
All files that have been referenced are still accessible with the provided links.

[2018-03-04 14:10] #67 closed, assigned to stevempope, SamanthaDawsonBanks, CFuterman

[2018-03-04 15:06] stevempope commented on #94
Closing this as we have agreed on a structure and a Main class for the robot now exists in #110

[2018-03-04 15:06] #94 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-04 17:25] SamanthaDawsonBanks opened #112 "C code clean up"
back in #22 we added some code for the datatypes on the arduino.
at the time it was a work in progress but it was shelved as the spec was still unclear
but it is getting to the time that we need to resurrect it and sort out those pointers

a guide that should help is:
https://www.codementor.io/codementorteam/a-comprehensive-guide-to-implementation-of-singly-linked-list-using-c_plus_plus-ondlm5azr

[2018-03-08 10:00] #82 closed, assigned to HarryWJackson1996, CFuterman

[2018-03-08 10:03] #63 closed, assigned to RyanShoobert, HarryWJackson1996

[2018-03-09 13:12] SamanthaDawsonBanks commented on #50
are we relatively happy with this diagram?

[2018-03-09 13:13] SamanthaDawsonBanks commented on #74
decide on process,
closing

[2018-03-09 13:13] #74 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-09 13:16] SamanthaDawsonBanks commented on #90
as part of an (upcoming) interface refactor the public part of the API should self create, but if anyone spots a function that should be part of the public API please comment it here

[2018-03-09 13:19] SamanthaDawsonBanks commented on #90
leader needs to provide:
setDestination(waypoint (x,y))
get"Data"() : model //for views

some MVC register/deregister [expand]
some rmi register/deregister [expand]

[2018-03-10 11:49] SamanthaDawsonBanks opened #115 "AdHoc -> infrastructure WiFi on leader election"
as comment in #114 mcomp_Java/src/common/objects/Leader.java LN61

initial idea was to have bots wake > create an ad-hoc wifi network > make herd > elect leader > transition the wifi from ad-hoc to infrastructure

however this is; complicated, OS dependant, and for research stages mostly irrelevant.

we could lock it to an infra to start with or......?

[2018-03-10 12:53] RyanShoobert commented on #115
It may be best to lock it to infrastructure to start with but this may cause other issues later. Will probably be best to discuss this one in person.

[2018-03-10 12:57] SamanthaDawsonBanks commented on #115
yeah in person sounds good, in the mean time just leave it as a comment line and we can amend it later

[2018-03-11 11:41] SamanthaDawsonBanks commented on #112
fixed in #116

[2018-03-11 11:41] #112 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-11 12:28] RyanShoobert commented on #115
Decided to set to infrastructure mode by default on the pis

[2018-03-11 12:34] SamanthaDawsonBanks commented on #90
![2018-03-09-13 01](https://user-images.githubusercontent.com/25463297/37253362-c3dd9e42-2528-11e8-961d-1f05579b650d.png)

[2018-03-11 14:20] stevempope commented on #33
Works for me!

[2018-03-11 16:00] SamanthaDawsonBanks commented on #88
C datatypes unit test done

[2018-03-11 16:00] stevempope commented on #56
I have wired in the motors to the motor shield.

The wires that come with 12v power supply do not fit. They are too wide to fit in the motor shield and are massively over provisioned for the PSU we are using. We need to find a AWG of 16 or higher (thinner) as the current 12 is too thick.

PSU's have arrived.

[2018-03-11 16:00] SamanthaDawsonBanks commented on #92
C:
waypoint
path
pathItem
all done

[2018-03-11 16:02] stevempope commented on #88
Herd Unit tests are done in their current guise. The members tests were fine but there is some refactoring to come in this area so I can't mark it as done yet.

[2018-03-11 16:02] SamanthaDawsonBanks commented on #61
duplicate of #88

[2018-03-11 16:02] #61 closed, assigned to stevempope, RyanShoobert

[2018-03-11 16:04] stevempope commented on #59
We have discussed this at length and this issue should not apply anymore. The only type of joining will be the Herd merging, during which members will be offloaded or accepted into and out of Herds.

[2018-03-11 16:04] #59 closed, assigned to stevempope, RyanShoobert

[2018-03-11 16:05] RyanShoobert commented on #60
Leader and Member code merged but still in development.

[2018-03-11 16:06] stevempope commented on #60
Echoing @RyanShoobertUoB the member and Leader are in development but there needs to be a bit more work done to incorporate the RMI elements.

[2018-03-11 16:09] stevempope commented on #91
Formal Proof maybe should be pushed back, not sure if we will be ready in time or in the right place.

[2018-03-11 16:16] CFuterman commented on #87
Looking at our requirements and that we're working on a budget. The change would take our project over budget. It's easy to want to upgrade the bot, but in this case it would help to fulfill our requirement by sticking with the original digital pin design.

[2018-03-11 17:00] #115 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-11 17:00] SamanthaDawsonBanks commented on #47
anyone?

[2018-03-11 17:01] SamanthaDawsonBanks commented on #89
duplicate of #17

[2018-03-11 17:01] #89 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996

[2018-03-11 17:02] SamanthaDawsonBanks commented on #83
cross of #33

[2018-03-11 17:02] #83 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-11 17:05] SamanthaDawsonBanks commented on #86
also it would be nice if we can pretty it up a bit maybe like hud at the bottom of the Saeed and Alan robot video?
https://www.youtube.com/watch?v=ATLUgaOlUpo

[2018-03-11 17:06] SamanthaDawsonBanks commented on #75
how is this coming along?

[2018-03-11 17:07] SamanthaDawsonBanks commented on #90
there is a planned interface shuffle coming up so we will fold this into that

[2018-03-11 17:09] SamanthaDawsonBanks commented on #91
bumped to M3 (maybe even M4?) some of it can come from JUnit as if a collection then the JUnit will be:
x is empty
x.add(b)
x now contains b
b < x.pop
x is now empty again

and the formal will be much the same reflecting set theory

[2018-03-11 20:37] stevempope opened #117 "Stepper Motor and "Blocking""
An issue that has been mentioned in passing is that we may run into a bottleneck when pulsing the stepper motors.

The problem potentially is that while driving in a very long straight line we may end up "missing" a large area of map that could have been taken with the LiDAR sensor.

The adafruit (creators of the motorshield) page references a library extension to their own which allows for runnin

[2018-03-11 20:39] stevempope commented on #117
To be clear, in the current library, a call to the motors only releases resources when it completes the sets of pulses.

[2018-03-12 11:16] SamanthaDawsonBanks commented on #117
yeah good point, at the moment you are calling the motor in a for loop with one step so we could check as part of that loop?

but separately we may want to send steps in 'batches' either way?

depending on how we hook the senses the non blocking might need to be done either way?

[2018-03-12 18:36] CFuterman commented on #85
I will need to carry the over another week over into milestone 3 because due to coursework that I've to complete.

[2018-03-20 11:23] RyanShoobert opened #123 "Runtime cast error from Object to ability"
https://github.com/DavidAveryUoB/Team_Project/blob/a8288592fa8e4a3092483ec9ba754c50df287fca/mcomp_Java/src/member/MemberMain.java#L59

[2018-03-20 12:26] RyanShoobert commented on #123
Addressed in #124

[2018-03-20 12:26] #123 closed, assigned to stevempope, RyanShoobert

[2018-03-22 13:21] SamanthaDawsonBanks opened #130 "is int 'long' enough"
as per the pun; in many places we are using int (and sometimes float), but for some of the cases the number being handled could be "large" other than cases that we are ***sure*** that it will fit consider converting the whole system to doubleWord length vars?

[2018-03-22 13:33] RyanShoobert commented on #130
That is a good point that I neglected to think of. To argue the other side, there may also even be cases where we could make datatypes smaller (if we care that much and if it actually translates in javaland?)

To answer your question though, it may be advisable in the cases where we can't be _**sure**_ that it won't overflow.

[2018-03-22 13:40] SamanthaDawsonBanks commented on #49
hardware day 2 during easter break? any days work / not work for people?

[2018-03-22 13:41] SamanthaDawsonBanks commented on #55
planned for #49

[2018-03-22 13:41] SamanthaDawsonBanks commented on #56
planned for #49

[2018-03-22 13:41] SamanthaDawsonBanks commented on #57
planned for #49

[2018-03-22 13:50] SamanthaDawsonBanks commented on #58
I have the test hardware with me most days so we can do some runtime tests next time we meet up?

[2018-03-22 16:18] SamanthaDawsonBanks commented on #33
re-reading the arduino and LiDAR spec we can't run it straight off the PWM as the arduino can only supply 40mA (peak) 30mA sustained and the LiDAR often needs 60+mA so we will need some for of power controller

[2018-03-25 13:18] #50 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-26 10:50] stevempope commented on #130
Ryan is right I think, we should probably only use the smaller data types where we can mathematically say we will never overflow.

[2018-03-26 15:43] #130 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-03-26 15:45] SamanthaDawsonBanks commented on #117
I have tagged this as enhancement and for M3, just so we have context, but it maybe that for reasons of threading we want to stay deterministic and thus single and blocking

[2018-03-27 18:44] SamanthaDawsonBanks opened #140 "Bad Path"
https://github.com/DavidAveryUoB/Team_Project/blob/d0f1ffbfed6a9cf6a87d6fd31c685be2abaf5f28/mcomp_C/tests/Propulsion_test.cpp#L8

[2018-03-27 18:45] SamanthaDawsonBanks opened #141 "Dupe File"
https://github.com/DavidAveryUoB/Team_Project/blob/d0f1ffbfed6a9cf6a87d6fd31c685be2abaf5f28/mcomp_C/movement/Propulsion_test.cpp#L1

[2018-03-27 18:46] #141 closed, assigned to stevempope

[2018-03-27 18:46] #140 closed, assigned to stevempope

[2018-03-29 14:42] stevempope commented on #88
Unit tests for a Waypoint and C Path were created by @DavidAveryUoB  and I have created tests for drive as part of #150

[2018-03-29 14:43] stevempope commented on #58
@DavidAveryUoB has completed this.

[2018-03-29 14:43] #58 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert

[2018-03-29 14:44] stevempope commented on #33
Drive is now complete.

[2018-03-30 21:48] SamanthaDawsonBanks commented on #60
Leader to Member RMI is now setup (but only one method [drive] is currently being RMIed)
I still need to factor out some bits (types and interfaces) - to be discussed on s4b at some point
[mostly just if a collection is a collection of classes or interfaces (it makes more sense with an example) but also some who is told what stuff]

think: is herd.herdDrivers a collections of members(who happen to

[2018-03-31 21:14] SamanthaDawsonBanks opened #151 "Factor out (and write) Test data"
the presentation map is already coded (but needs factoring out) and the others should be as methods.
So we can just use:
Map a = getPresentationMaze();
or:
Map b = getEmptyMaze();
or:
Map c = getSparseMaze();
or whatever

[2018-03-31 21:41] SamanthaDawsonBanks commented on #60
fixed? in #152

[2018-04-01 12:00] SamanthaDawsonBanks commented on #47
https://choosealicense.com/
https://www.gnu.org/licenses/license-recommendations.en.html
http://www.dcc.ac.uk/resources/how-guides/license-research-data

[2018-04-02 10:25] SamanthaDawsonBanks commented on #60
closing as merged, there is still work to do but: The steps we take don’t need to be big; they just need to take us in the right direction

[2018-04-02 10:25] #60 closed, assigned to stevempope, RyanShoobert

[2018-04-03 11:04] RyanShoobert opened #153 "Scalability"
Consider data as herd size increases

[2018-04-03 12:39] CFuterman opened #154 "Project Handover Document"

[2018-04-03 12:40] CFuterman opened #155 "Separate Reports / individual reflective stuff"
Please write a short report that contains things like what went well and problems that you have encountered

[2018-04-04 17:11] SamanthaDawsonBanks opened #157 "Use/Business Case"

[2018-04-04 17:12] SamanthaDawsonBanks opened #158 "Provability/Security"

[2018-04-04 17:12] SamanthaDawsonBanks opened #159 "Mapping/Something"

[2018-04-04 17:13] SamanthaDawsonBanks opened #160 "Heuristics/Algorithms"

[2018-04-04 17:14] SamanthaDawsonBanks opened #161 "Communications/RMI"

[2018-04-04 17:14] SamanthaDawsonBanks opened #162 "(G)UI/UX/Usability"

[2018-04-04 17:15] SamanthaDawsonBanks opened #163 "Extensibility/Interoperability"

[2018-04-04 17:17] SamanthaDawsonBanks commented on #154
A description of the process by which the project was approved, and the business case for undertaking the project.
A summary of the project execution, including whether the project met its objectives.
Details of the project’s budget performance and timeline performance.
A list of factors that affected the project results.
If possible, a description of the financial impact or other benefits the pro

[2018-04-04 17:19] SamanthaDawsonBanks commented on #155
remember to be both critical and reflective, always think "what was learnt?"

[2018-04-04 17:21] SamanthaDawsonBanks commented on #117
Closed at answered - staying with blocking as it maintains deterministic state

[2018-04-04 17:21] #117 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-04 17:23] SamanthaDawsonBanks commented on #90
interface shuffle done (well PR'ed)
API = implement the interfaces

[2018-04-04 17:23] #90 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert

[2018-04-04 17:24] SamanthaDawsonBanks commented on #92
J:
Waypoint
Map
Path
LinkedItem
Pathfinding
Heuristics
(Proto)GUI

Done

[2018-04-04 17:32] SamanthaDawsonBanks commented on #46
Things for MS4
 - Extensibility/Interoperability
 - (G)UI/UX/Usability
 - Communications/RMI
 - Heuristics/Algorithms
 - Mapping/Something
 - Provability/Security
 - Use/Business Case
 - Project Handover Document
 - Scalability Evaluation
 - Implementation Plan
 - Parts List
 - All minutes must be up to date and in University style
 - All process logs must be up to date
 - Final Report Structure

[2018-04-04 19:19] SamanthaDawsonBanks commented on #151
current data now in #165

[2018-04-04 19:19] #151 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-04 21:09] SamanthaDawsonBanks opened #166 "Adjust map to raytrace line to blockage and fill with opens"

[2018-04-04 22:57] SamanthaDawsonBanks opened #167 "Non cardinal driving from cardinal pathfinding"
While the vertex based nature of the map will produce a cardinal direction, the relation between three nodes (convective path) nodes will produce a right angle triangle(ABC), and the two end most cartesian points (A->C) will form a vector.

If the nodes along that vector (the hypotenuse of the previous triangle) are also empty the path can be simplified by removing the middle node (B) and the robo

[2018-04-04 23:05] SamanthaDawsonBanks commented on #166
The points along the ray are a function of a similar but scaled triangle that is obtained by dividing the x and y by a suitable value

[2018-04-06 13:38] SamanthaDawsonBanks opened #170 "refactor methods to use constant and abstract datatypes"
there are a couple of places where we are unboxing data and using the underlying data structure where we should be using the abstract ones.
while the code will 'work' this way it will mean that if we change the storage structure then other methods will break. ( think "soliD" )

one example is here I made the map data as "ArrayList<Waypoint>" when it should be MapLayer
and then my mistake as pollut

[2018-04-06 20:45] SamanthaDawsonBanks commented on #166
?fixed? is #172

[2018-04-06 20:45] #166 closed, assigned to SamanthaDawsonBanks

[2018-04-07 02:25] CFuterman commented on #49
We mentioned during the meeting on Tuesday that we were to have another hardware day in the near future. If we could organise one as soon as so that the hardware side to the bot is complete. David, can you put dates that are good for you, as you have all the components. Can everyone else agree on a date that has been given.

[2018-04-07 02:27] CFuterman commented on #33
From the meeting that we had on Tuesday, we established that all that was left to close this issue was the sense flow charts that needed updating. Can progress on this front be posted here please.

[2018-04-07 02:30] CFuterman commented on #56
I understand that the wheels are yet to be attached, how is the rest of this coming along?

[2018-04-07 02:33] CFuterman commented on #57
From Tuesday's meeting, we saw the bot being powered. How is the fitting of all components coming along? Can we have an eta for each of the outstanding components please.

[2018-04-07 02:34] CFuterman commented on #85
This is taking a bit longer than expected based on the template that i have found. Should hopefully have my 2nd draft ready for the meeting on Thursday morning for the more technical members of the team to re-read

[2018-04-07 02:35] CFuterman commented on #157
Charles - Lead
Steve - Secondary

[2018-04-07 02:36] CFuterman commented on #158
Steve - Lead
Dave / Charles - Secondary

[2018-04-07 02:36] CFuterman commented on #159
Dave - Lead
Ryan - Secondary

[2018-04-07 02:36] CFuterman commented on #160
Harry - Lead
Dave - Secondary

[2018-04-07 02:37] CFuterman commented on #161
Ryan - Lead
Dave - Secondary

[2018-04-07 02:37] CFuterman commented on #162
Harry - Lead
Charles - Secondary

[2018-04-07 02:37] CFuterman commented on #163
Steve - Lead
Dave / Ryan - Secondary

[2018-04-07 02:39] CFuterman opened #173 "Readme file and License Standards"
A document that I will be completing myself. I may need some assistance from the rest of the team as this is something that I have not completed before.

[2018-04-07 09:27] SamanthaDawsonBanks commented on #47
Current report structure (15,000 - 25,000) will be:

Cover Page [David, Charles] (inc. Executive Summery)
Table of Contents [David]
Introduction [All] - 1500
past proj / state of art - 2500
#157 Use/Business Case [Charles, Steve] (states why are we doing this / how are we judging it) ~2000
#158 Provability/Security [Steve, David, Charles] (tees up the we did this to prove it is right) ~2000
#159 M

[2018-04-07 09:31] SamanthaDawsonBanks commented on #47
we can move it around later but does that look like a logical flow / order?
anything missing?
anything needs to be removed?
anything need editing?
any teams need adjusting?

[2018-04-07 09:41] SamanthaDawsonBanks commented on #49
yeah no probs, dates:
Saturday [7th today] free (all day)
Sunday [8th] free all day
Monday [9th] I am busy but around the house so ppl are welcome to do prelim hardware stuff
Tuesday [10th] I am busy but around the house so people are welcome to come over and do whatever
Wednesday [11th] free (all day)
Thursday [12th] meeting with Saeed (if he is free)
Friday [13th] free after 10:30
Saturday [14th

[2018-04-07 09:45] SamanthaDawsonBanks commented on #33
that was a miscommunication;
we have the flowchart, and the logic, but we need to pull the code together from the 4 libraries we are referencing
there is a basic set (from GH/getSurreal/XV_Lidar_Controller) on GH in the LiDAR_Test branch but when i tested it on the hardware Thursday 5th it didn't seem to work right so I will loop Steve in once he is free

[2018-04-07 09:47] SamanthaDawsonBanks commented on #56
Wheels: we need to pick the wheels then i need to order them, as for fitting they are push fit on the the motors so fitting should be a 2 minute job
power: battery is charged (but at uni as I don't have a charger) and I need to make up a cable with the right ends

[2018-04-07 09:50] SamanthaDawsonBanks commented on #57
Fitted: pi, ard, motors, ultrasound (usound needs some more work)
Testing: LiDAR (only needs 4 bolts to mount)
Waiting: wheels, battery, power cable

[2018-04-07 09:54] SamanthaDawsonBanks commented on #173
No worries mate, i'm happy to take secondary on this and provide technical guidance; as a start:

readme.md {there is probably a template somewhere}
https://gist.github.com/PurpleBooth/109311bb0361f32d87a2
https://github.com/dbader/readme-template
https://gist.github.com/zenorocha/4526327

licence (might need to loop in Saeed on that one)
https://choosealicense.com/
https://www.gnu.org/licenses/li

[2018-04-07 10:06] SamanthaDawsonBanks commented on #56
https://www.amazon.co.uk/Shepherd-Hardware-9610-Semi-Pneumatic-Replacement/dp/B000N6BR3A/
https://www.amazon.co.uk/UNIVERSAL-6-REPLACEMENT-LAWNMOWER-WHEEL/dp/B0018U4408/

[2018-04-07 10:09] SamanthaDawsonBanks commented on #49
as a note my soldering stuff is as uni, as is the lidar kit

[2018-04-07 10:10] SamanthaDawsonBanks commented on #75
this also links into #167

[2018-04-07 10:15] SamanthaDawsonBanks commented on #86
this needs to consider #170 the View will be held by a member (of type Notifiable) so it will have access to a locally synced Herd data structure (in Member.localHerdData) that will then contain:
Map,
Destination,
Path,
Herd Members,
Leader,

so while testing can use fixed input data, the final should make use of variables and datatypes

[2018-04-07 17:24] SamanthaDawsonBanks opened #174 "Assign sizes to datatypes"
the Map, WP and AD both make use of sizes but there is no definition of what 1 *is*

[2018-04-07 17:37] SamanthaDawsonBanks commented on #17
//DONE:
J
Datatypes (subject to merge issues) except for MapLayer (as it have changed too much in the upcoming PR #172 )
Interfaces

//TODO:
path
maplayer
vertex

//CHECK:
Joinable - acceptMember and requestJoin - same for leave
Notifiable - Drawable - same thing?
becomeLeader return type / life-cycle
updateable.updateModel - probably needs separating into actual calls ("member now at loc".....)

[2018-04-08 09:13] SamanthaDawsonBanks commented on #153
As herd data sizes get bigger do we want to keep handing the herd as the var for a method or is it better to use the local (possibly out of date) copy?

[2018-04-09 10:12] SamanthaDawsonBanks commented on #49
looking at thursday for build day, so after the meeting

[2018-04-09 10:29] SamanthaDawsonBanks commented on #87
reopening as there is some code needed

[2018-04-09 12:17] SamanthaDawsonBanks commented on #33
code planned for tuesday

[2018-04-09 13:03] SamanthaDawsonBanks opened #176 "Refactor the 'score' parts of Vertex into a SubClass ScoredVertex using inheritance"
As one (the Vertex) is the base object (a place in graph theory, nodal space) and the second (the ScoredVertex) is a specialised (mostly for pathfinding) version that extends it and has the addition of the scoring stuff?

[2018-04-10 12:58] SamanthaDawsonBanks commented on #33
/*
 * Author(s):
 * Name: David Avery
 * Email: d.avery1@uni.brighton.ac.uk
 * Email: David_Michael.Avery@yahoo.co.uk
 * Student Number: 15823926
 * Username: dma23
 *
 * Explanation of Sketch:
 * --Base File Template--
 *
 * Date: 2017
 *
 * Licence of code:
 * Copyright [Authors] David Avery (code), All rights reserved. (Default)
 *
 * References
 *
 */

//------------------------------------Inc

[2018-04-10 20:56] SamanthaDawsonBanks commented on #176
And yet again I show how I need to check my posts in the morning...

This shouldn't be inheritance it should be composition.

A scored vertex will be composed if a base vertex and some new data and behaviour.
All through the use of a constructor.
Sorry for leading you in the wrong direction Harry

[2018-04-10 23:30] SamanthaDawsonBanks commented on #176
I'm still not happy with this as polymorphism would be more useful, let me chew on it for a bit then i will bung up a PR for it (it might need to get wrapped into the AStar rework you are thinking of)

[2018-04-10 23:31] SamanthaDawsonBanks commented on #174
this one loops round to #33 as the sensor and grid size are all real world measurements

[2018-04-10 23:32] SamanthaDawsonBanks commented on #170
Worked on some of this today with Harry, there are some bits that will require the two branches to be closely linked so I will gram Harry on Skype tomorrow/today at some point

[2018-04-10 23:34] SamanthaDawsonBanks commented on #92
once I fix the Member>Leader>Herd stuff (Wednesday/Thursday) we should be at a point where all test will be done from the base MemberMain as per integration testing

[2018-04-11 09:16] stevempope commented on #176
I think a subclass is fine, but we should be passing the Vertex through a heuristic method which returns a new scored vertex (the result of the scoring). The algorithm then handles a collection of scored vertex objects which it can throw away once the pathfinding is complete. Storing the score in the current vertex will dramatically increase the size of the Herd object and therefore the traffic pa

[2018-04-11 09:20] stevempope commented on #174
We discussed 5cm being the base unit, so I guess that gives us the scale of 1 = 5cm, 2 = 10cm and so on.

When we collect AD's, its probably best to convert them from raw mm into this so that the Waypoints and Maps don't have to do any post processing.

[2018-04-11 09:23] stevempope commented on #167
For each triangle, we would need to check that its nearest 5 neighbours in the Y direction of travel is also free (30cm body width, 5cm grid) so that we can "cut" that corner?

[2018-04-11 09:24] stevempope commented on #167
Also, how would this work with simultaneous changes in direction, such as left-up then right- down?

[2018-04-11 09:26] stevempope commented on #153
It's probably best to use the live copy and default and have a refreshed copy provided for local use in case of disaster. That said if we can guarantee that the Herd member will always receive an up to date copy there is no reason why the local Herd can't be used.

[2018-04-11 10:52] HarryWJackson1996 commented on #176
From the PR I can see you went with inheritance, over composition. I mean i would assume either would work. When the PR is merged I will refactor the AStar.

[2018-04-11 15:03] stevempope commented on #33
Update on progress, we have identified how to pick the head of a packet out and reverse the little endian format to pull out the rpm data. We can now apply this logic to the rest of the bytes in the packets and we should be able to pull out some sensor data.

[2018-04-12 18:09] stevempope opened #182 "Stepping through the Motor code"
Upon review of the Unit test data we may need to review the maths that surrounds drive to make sure our variables are accurate. This will be completed at the next hardware day.

[2018-04-12 18:11] stevempope commented on #87
@RyanShoobertUoB has completed most of the work in this area. We will be mounting the sensors on 13/04/2018 all going well.

[2018-04-13 15:37] SamanthaDawsonBanks commented on #47
anyone?

[2018-04-13 15:46] stevempope commented on #47
I think this looks great, but the ethics should probably come before the handover. It makes logical sense for us to explore the nature of the work we have completed this year and then handing it over to another group/industry.

I am assuming that the hardware we chose for the research bot probably should get a nod in the extensibility section, as a lot of it is modular/off the shelf and provable.

[2018-04-13 15:49] SamanthaDawsonBanks commented on #47
Good point, I will edit that on the list

[2018-04-13 15:51] SamanthaDawsonBanks opened #192 "Ethics Documentation"

[2018-04-13 17:24] SamanthaDawsonBanks commented on #182
could be an overflow, what data type are we using?

[2018-04-14 06:25] stevempope commented on #49
![c1b3445b-11e8-48fe-be49-fb819fa43133](https://user-images.githubusercontent.com/20892974/38765168-ad5fc5b8-3fb4-11e8-92d6-694ccdc06630.jpeg)
![2c433e72-4221-4118-a387-9205b9e52660](https://user-images.githubusercontent.com/20892974/38765169-ad8ad690-3fb4-11e8-9668-fc76883c377a.jpeg)
![6758e31c-edf8-448d-b165-92440905906c](https://user-images.githubusercontent.com/20892974/38765170-ada6a3b6-3fb4-

[2018-04-14 06:29] stevempope commented on #49
So the power supplies are now fitted and the ultrasounds are ready to be rotated and wired up to the power supply. The remaining fitting to to be done is the lidar the ultra sounds and the compass module. The us have mounts and just need rotating, the lidar needs adapting or a smalller thread and to be mounted with the dimple facing forward and the the compass is arriving tomorrow.

[2018-04-14 06:29] stevempope commented on #49
The wheels are arriving soon too

[2018-04-14 06:30] stevempope commented on #192
Quite happy to talk about this, there is so many considerations it may be hard to fit them in the word count.

[2018-04-14 07:39] SamanthaDawsonBanks commented on #167
For simultaneous changes each threepul would need to be considered individually, but if a threepul was able to eliminate its B (of ABC) then it would be a tuple and if the optimisation was run recursively then the npull A!BCD would become the next threepul (ACD) and C might be eliminated

[2018-04-14 07:41] SamanthaDawsonBanks commented on #33
Would it be useful if we put together a 'packet' object and/or a return object?

[2018-04-14 07:44] stevempope commented on #182
So the issue is our use of an int for the step value, giving a signed max of 32,000 step or about 330 revolutions of the wheel. The suggested fix is to change the type to an unsinged long to drastically increase the maximum steps in a single request. Marked for refactor.

[2018-04-14 10:35] stevempope commented on #182
So forward is currently a signed long and rotate is a double

[2018-04-14 10:54] stevempope commented on #182
Ok so I have an answer for our issue.

The number 10,000,000 is well within the limits of a signed long and indeed a double in Arduino C, but to calculate the value of hypot(double x, double y) we would have to hold for a very brief time the result of 10,000,000 squared and added to 10,000,000 which results in a massive overflow of the function and hence the first test does not move. I will have t

[2018-04-14 11:00] stevempope commented on #182
So the result would be 200,000,000,000,0000 which with a floating point is more than 6 bytes long.

[2018-04-14 11:03] SamanthaDawsonBanks commented on #182
there might be a way to do it with similar triangles?

100*(sqrt((a/100)^2+(b/100)^2)) ≡ sqrt(a^2+b^2)
x*(sqrt((a/x)^2+(b/x)^2)) ≡ sqrt(a^2+b^2)

[2018-04-14 11:05] stevempope commented on #182
So the potential maximum in a signed double should be 1,073,741,823.0 which the root of is 32,767 so that is the physical limit we can ask for on the hardware we have. Before I close the issue do we want to make any data type changes to data types?

[2018-04-14 11:08] SamanthaDawsonBanks commented on #182
I'm happy with capping the call (guarded both ends) [so that J will split big calls, and C will reject {do nothing?} big calls]
maybe factor the value out to the config and ref it [do we ref it on the J side as well?]?

[2018-04-14 11:13] stevempope commented on #182
Sorry Dave just read your post. That is certainly possible but I am trying to think that for the sake of research recommend the duo as a production board. 32,767 into drive ends up with 218,446 steps taken which results in 1092 revolutions or 343.2 meters in a single call.

[2018-04-14 11:13] stevempope commented on #182
I do need to refactor drive slightly to accommodate the potential size of the steps

[2018-04-14 11:21] SamanthaDawsonBanks commented on #182
1092 rev = 343.2m?
I'm getting a different result

[2018-04-14 11:30] stevempope commented on #182
My maths may be faulty...

[2018-04-14 11:33] stevempope commented on #182
What did you get instead?

Other than the dodgy max amount of distance travelled (I did 1092 revs * 31.42 which is the value in robot config and as that is in cm divided by 100 for meters)

[2018-04-14 11:55] SamanthaDawsonBanks commented on #182
ah my bad I think the value in config was a placeholder until the wheels were picked

[2018-04-14 11:57] SamanthaDawsonBanks commented on #182
yeah bad (stale/dummy) data in the config
6 inch (diameter) wheel [as sold so might be inc or ex tire]
gives 0.478779m circumference
0.478779 * 1092 = 522.826668m

[2018-04-14 12:26] stevempope commented on #182
Right so thats fine, just need addressing in a PR, I will add it to #193

[2018-04-14 12:32] stevempope commented on #56
Just awaiting the wheels arriving and being fitted then we can close this issue

[2018-04-14 12:37] stevempope commented on #87
This issue can now be closed as we have working code using digital pins attached to teensy Arduino that will light a digital pin on the mega board when the trigger distance is reached.

[2018-04-14 12:37] #87 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert

[2018-04-14 12:39] stevempope commented on #33
For the moment I am going to work on handing back the pointer to an array, but it's certainly something we should look at when I bring together the final "sense" method

[2018-04-14 13:49] SamanthaDawsonBanks commented on #56
eta on wheels = Monday 16th

[2018-04-14 15:20] stevempope commented on #182
#193 is closed so this should close with it. I am happy that the logic is correct.

[2018-04-14 15:20] #182 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-14 16:42] SamanthaDawsonBanks opened #195 "Member (+view) Leader Herd Lifecycle method chase"
I could do with some help (and a lot of whiteboards) to track the MVLH interactions it will be a lot easier with more brains on the task, is anyone available for a modelling and coding session this week?

maybe Monday / Tuesday?

[2018-04-14 19:17] stevempope commented on #195
Monday morning works for me #194 has been approved on the basis that we are whiteboarding it to completion

[2018-04-14 21:05] HarryWJackson1996 commented on #195
I'm around all week, and travel is no problem. I'd be happy to help where I can.

[2018-04-16 08:56] stevempope opened #197 "Methods still requiring work"
Place your initials next to these remaining methods if you are able to work on them (after you have finished any current work)

DA - Method in Member that allows the Member main class to go to sleep/exit when finished (set awake to false)

DA - Same as above for View

DA - Same as above for Leader

DA - Simplify Member joining/leaving contact with RMI to register and deregister

DA - Test notify a

[2018-04-16 09:04] stevempope opened #198 "Multiple Drivers in a Herd"
We need to implement a blocking queue that prevents multiple drivers trying to drive to the same waypoint at the same time.

[2018-04-16 16:20] CFuterman commented on #85
As and when I get to them, I will need some people to just fill out a small subsection of the project as it is outside of my knowledge. First up, I know @stevempope  is in charge of security. If you could write a small paragraph for each subsection that will be good. This is all from a template I found, so it says what you will need to write about if you need help.

2.5 Security and Privacy
2.5.1

[2018-04-16 17:20] SamanthaDawsonBanks commented on #85
any chance you can upload the draft you have so far so that we can see the direction you are working in (it will help us to know what structure we need to write our sections in)

[2018-04-16 17:26] CFuterman commented on #85
You should be able to see it in: OD/Documentation

[2018-04-17 09:43] stevempope commented on #195
Boards from Herd Chat to follow

[2018-04-17 12:33] stevempope commented on #33
Both Drive and Sense are now complete and ready to have their output turned into Serial-ready content as per #197 Pipe object.

[2018-04-17 12:33] #33 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996

[2018-04-17 12:41] stevempope commented on #57
Remaining tasks associated with this issue, attach LiDAR, plug teensy arduinos into usb power, wire teensy Arduino into mega digital pins, usb between mega and Pi, usb power from battery to Pi, attach wheels.

These will be folded into a final Hardware day when the robot wheels arrive.

[2018-04-17 12:42] stevempope commented on #46
Can this issue be closed now? We have well defined Milestones are working towards finishing.

[2018-04-17 12:44] stevempope commented on #72
Should make this a Milestone 5 objective? I believe we are happy with the changes in #190

[2018-04-17 12:45] CFuterman opened #200 "To do list for meeting with Saeed 26/04"
So that we don't fall behind and give ourselves too little time to complete the final documentation. I want from everyone to have made a good start on this.

- On the final documentation - Anyone who is a lead for any aspect of the final documentation. Can we look to have made a good start on this so that this is there to show Saeed next week. For the week after, the secondary to these to have loo

[2018-04-17 13:17] stevempope commented on #195
![wp_20180416_09_35_44_rich](https://user-images.githubusercontent.com/20892974/38870375-8b644248-4245-11e8-8cb1-169572dd496d.jpg)
![wp_20180416_09_45_52_rich 1](https://user-images.githubusercontent.com/20892974/38870377-8b8a8764-4245-11e8-8daf-4ad1f180b37b.jpg)
![wp_20180416_09_45_52_rich](https://user-images.githubusercontent.com/20892974/38870378-8ba7b01e-4245-11e8-86e0-e60249a4cdff.jpg)
![wp_

[2018-04-17 16:11] SamanthaDawsonBanks commented on #197
remember can people tag stuff on here when they START the task or we could have many people working on the same thing and thus wasting time

[Thread Edited to compress posts]

[2018-04-17 18:35] #46 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-17 21:40] SamanthaDawsonBanks commented on #200
Ah i have been tagging stuff at #200 when it should have been #197 sorry for the cross posting

[2018-04-18 18:11] SamanthaDawsonBanks commented on #176
done

[2018-04-18 18:11] #176 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-04-18 18:13] SamanthaDawsonBanks commented on #57
other then MPU (compass) done(ish)

[2018-04-18 18:13] SamanthaDawsonBanks commented on #56
alt wheels arrived just need drilling and fitting

[2018-04-18 18:14] SamanthaDawsonBanks commented on #153
this has mostly been sorted by the local herd data cache

[2018-04-18 18:15] #153 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-18 18:16] SamanthaDawsonBanks commented on #170
a lot of this has been done but there are still some bits to factor out in the gui

[2018-04-18 18:16] #170 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-18 18:16] RyanShoobert commented on #174
The lidar sensor returns data in cm and mm and requires scaling once returned so that 0.2 = 5cm.

[2018-04-18 18:16] #174 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-18 18:18] RyanShoobert commented on #86
The toArrayList() method has now been implemented for drawing the map on screen. Is there any chance of a PR for some of the latest GUI bits as I know you've been working on it.

[2018-04-18 18:26] RyanShoobert opened #211 "PRs & Branches"
As time goes on, branches become stale and become harder to merge. Can everyone please check that any outstanding branches that need merging get PR'd or deleted if they have been already.

[2018-04-18 18:31] RyanShoobert opened #212 "Code Freeze"
As we head closer to the final hand-in date, documentation needs to become a priority. I'm currently thinking that it may be best to have a code freeze for the next two weeks as of Thursday 19 April to enable use to concentrate on documentation and potentially finish up any bug fixes if we get done ahead of schedule.

[2018-04-18 18:34] RyanShoobert commented on #66
Sounds like a sensible idea @stevempope as much of the coding phase has been self documenting on git. What does everyone else think?

[2018-04-18 18:34] SamanthaDawsonBanks commented on #212
Sounds like a good idea, even if we don't freeze the code it would be good to really focus on the docs

[2018-04-18 18:35] SamanthaDawsonBanks commented on #211
good catch; I have checked and cleaned mine

[2018-04-19 17:11] stevempope commented on #212
I agree. There are two things in code that I have in progress that I would like to finish as they work in tandem with the first bits of documentation, so these will be up latest 12pm tomorrow, would this be ok?

[2018-04-19 17:12] stevempope commented on #211
I have just the one branch open but it should be available for PR by 12pm tomorrow and can then be deleted when merged.

[2018-04-19 17:15] RyanShoobert commented on #212
Yeah that shouldn't be a problem. If you're most of the way there with it (as I recall you saying you were) then it will be much better get it into the main branch then to leave it hanging (which also will partly address #211)

[2018-04-19 18:28] SamanthaDawsonBanks commented on #47
there are now 8 more files in the OD/Docs' folder
![image](https://user-images.githubusercontent.com/25463297/39010853-b7fe8232-4407-11e8-8483-2e6726645dae.png)
please put your content in the respective file

also!!!

please do NOT change the formatting or pulling the final file together will be hellish

[2018-04-19 18:53] CFuterman commented on #47
I am currently working on my documents in a separate file on my hard drive. Once I have done a bit more, I will put them in to these files.

Can I make a request that everyone starts working on the topic that they are leading. If you have ideas for other topics you are a secondary to, just note it down as it may be that the lead has written something about it.

[2018-04-19 19:02] #72 closed, assigned to SamanthaDawsonBanks

[2018-04-19 19:02] #100 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-19 19:02] #198 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-19 19:03] SamanthaDawsonBanks commented on #195
much of this is done and the rest is on the list of bits to do

[2018-04-19 19:03] #195 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-04-19 21:58] SamanthaDawsonBanks commented on #211
still three branches open?
 main_C_v1 Updated 2 days ago by stevempope
PathfindFixes Updated 2 days ago by HarryWJackson1996
AStar3 Updated 16 days ago by HarryWJackson1996

[2018-04-19 22:18] SamanthaDawsonBanks commented on #197
this was auto closed but some minor bits will need to be done in the background

I will try to sort them into needed/MS5 so we know what we need for demo day

[2018-04-19 22:20] #86 closed, assigned to stevempope, SamanthaDawsonBanks, HarryWJackson1996

[2018-04-19 22:21] #167 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-04-19 22:21] SamanthaDawsonBanks commented on #75
I think this is done just needs linking?

[2018-04-19 23:14] SamanthaDawsonBanks commented on #49
Both options for wheels are here now, so I will have a look at which fit better

[2018-04-22 10:25] SamanthaDawsonBanks commented on #211
I assume these are dead? if not they will be stale one iis 92 commits behind

main_C_v1 Updated 5 days ago by stevempope
PathfindFixes Updated 5 days ago by HarryWJackson1996
AStar3 Updated 19 days ago by HarryWJackson1996

[2018-04-22 10:26] SamanthaDawsonBanks commented on #200
How are these coming?
I have a framework in my doc that might help people see what structure I am thinking for my and Ryan's section

[2018-04-22 20:24] stevempope commented on #200
I have seen the framework and have placed my work so far on the LiDAR document in the same folder as the final document.

Once the LiDAR documentation is done I will be moving onto the main sections. I know its not a ‘critical’ document, especially when considering the final document, but I thought it best to get it done while it was still fresh in my head. We have spent a lot of time on the hardw

[2018-04-24 07:57] SamanthaDawsonBanks commented on #47
remember that the sections are being CO-authored so whoever is primary needs to discuss the outline with their mini group.

if we just all do our own sections it will fell like 5 bits bashed together.

[2018-04-24 08:00] SamanthaDawsonBanks commented on #47
In that theme a structure that I have found to work well in the past was:

intro
analysis of the problem / task
outline of the proposed solution
design of the solution
discussion / documentation of the solution
reflection on how the implementation went

now for a bigger document we may not want ever sub-section in each chapter (or it will feel fragmented) but it is a starting point

[2018-04-26 09:34] CFuterman opened #219 "Poster Ideas"
Would be good to have something on everyone's aspect of the project. Diagrams and anything you think will be good to have on there, please put on here so that I can draw something up for next week's meeting (Thursday 3rd May 2018).

[2018-04-26 09:45] CFuterman opened #220 "Viva Presentation 14/05/2018"
Initially, we need to come up with a day that we can make a start on the preparation of the Viva presentation.

Can everyone please say the days that are good.

Monday I have work at 6, so will need to be finished by 3.
Wednesday I'm working all day, so I can't be there.

[2018-05-05 20:00] CFuterman commented on #219
I am planning on making a start on the poster on Monday/Tuesday based on when I've made good progress with my other deadlines. I have noticed on the OneDrive that there is already a file for the poster. Which software is being used for this, and is it available for mac (otherwise i can't start until i get back to Brighton, looking like starting it Wednesday)?

Secondly, so that I have put the corr

[2018-05-06 09:06] SamanthaDawsonBanks commented on #219
All sounds like a plan, the file is a Adobe Photoshop file, set up for print (CMYK, 150DPI, ISO 300%, with black = 75,68,67,90)

[2018-05-06 09:08] CFuterman commented on #219
Perfect. I will download the trial of it on my mac tomorrow as I am out with the family today, and will make a start on it tomorrow.

[2018-05-06 09:10] SamanthaDawsonBanks commented on #219
coolio I will probably put some placeholder blocks on the file for what I am thinking but we can always move stuff around when we meet up next

[2018-05-06 09:55] SamanthaDawsonBanks commented on #219
![poster](https://user-images.githubusercontent.com/25463297/39672114-e8d083c6-511b-11e8-9a0b-29b8b2383637.png)

rough starting idea?

[2018-05-06 10:49] SamanthaDawsonBanks commented on #220
tuesday?

[2018-05-06 10:59] CFuterman commented on #220
My original plan was to be back in brighton on Monday, but as it's a bank holiday, trains were all over the place. Won't be back until late Tuesday. I'm good for Wednesday, Thursday and Friday

[2018-05-06 12:55] SamanthaDawsonBanks commented on #220
Your not working wed?

[2018-05-06 12:56] CFuterman commented on #220
I'm working from 6, so from early until 4ish

[2018-05-06 15:42] #200 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-06 17:14] SamanthaDawsonBanks opened #221 "Maths Sanity check"
there are several points in the docs that have some maths where dropping a decimal would make a major change to our findings so; if you have any maths that needs checking please post it here (probably a reference to the file rather than the maths itself) so it can be cross checked

[2018-05-06 17:16] SamanthaDawsonBanks commented on #221
CH2 [somewhere (Steve asked for some maths to be checked)]
CH4 [somewhere (I know Harry asked us to check some bits)]
CH3 PG 9-11 Big O classification of storage and work

[2018-05-06 17:32] RyanShoobert commented on #220
I'm good for Wednesday, Thursday and Friday as well

[2018-05-06 17:33] RyanShoobert commented on #219
That looks like a good start to me @DavidAveryUoB

[2018-05-07 10:15] stevempope commented on #221
Yeah so from C2, I wanted to double check the numbers I have used for the scale of the map. I am giving and example of us proof testing our model on whiteboard before we program.

I went for 10 orders of magnitude performance gain from reducing the grid density, and 5 orders of magnitude performance loss from a 100 times faster laptop taking 90 seconds to process. I believe this to be correct but

[2018-05-07 10:16] stevempope commented on #220
Wednesday Thursday Friday suits me down to the ground. Thursday and Friday are not limited by time, so I am envisioning some form of late evening work.

[2018-05-07 10:20] stevempope commented on #219
Dave, that looks fantastic. If we are going to use the images of last years bots though, we probably should save one of the first boxes for a decent res picture of this years iteration.

Really like this. Headings wise I was thinking:

-Persistence
-Pathfinding
-Sensing and Driving
-Use Cases
-Map performance
-Modularity

Then one in the middle with the current hardware, not in any particular orde

[2018-05-07 11:23] SamanthaDawsonBanks commented on #219
well if we can get a good pic of all 4 bots it would be cool to swap the bg pic out for that new bot as center stage?

[2018-05-07 11:51] SamanthaDawsonBanks commented on #220
well from a "lots to do; limited time to do it" point of view as much useful time together would be good

[2018-05-08 10:46] stevempope opened #222 "Line 113 in Propulsion"
Needs to be changed to match line 86, it appears to be missing the calculation for how far a pulse moves the wheel by. This could be factored out to a global value.

[2018-05-08 14:13] stevempope opened #223 "Circle theory tidy up"
So there are some optimisations/fixes I would like to make - List is here for sanity checking:

- The arc length of a single pulse can easily be calculated by: Theta * pi/180 * Wheel radius rather than 2 pi r for circumference then * 1.8.

-Logic needs to flip if we are not simplifying the above. 1.8 is 360/200 not 200/360.

[2018-05-08 14:42] stevempope commented on #223
Further correction, it should be 2*pi*r divided by 360/200

[2018-05-08 14:45] #212 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-08 14:47] #57 closed, assigned to SamanthaDawsonBanks

[2018-05-08 14:48] #49 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-08 14:50] SamanthaDawsonBanks commented on #211
Harry / Steve can you check your branches plz

[2018-05-08 15:04] SamanthaDawsonBanks commented on #219
Right; So... it was poster day for PABS today, and we had a quick look at what can go on a poster and how it looks, finding are:
- we probably need more content (especially if we go for this size) [there is a question of if we want 4 {size reasons} or 5 {group members} separate posters ???]
- we probably need more text and smaller images / graphs

[2018-05-08 15:06] SamanthaDawsonBanks commented on #219
if we do go with the 2A0 then each of those rounded rectangles is about A3 in size

[2018-05-08 15:08] SamanthaDawsonBanks commented on #220
thursday then early ish?

[2018-05-08 15:14] CFuterman commented on #220
After the meeting with Saeed? I'm free all day, no work in the evening for me

[2018-05-11 16:53] SamanthaDawsonBanks commented on #223
rmi test branch

[2018-05-11 16:53] #223 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-11 16:54] SamanthaDawsonBanks commented on #222
fixed in rmi test branch

[2018-05-11 16:54] #222 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-14 15:17] RyanShoobert commented on #163
@HarryWJackson1996, you said in the last meeting that you were interested in helping with this. How is it coming along?

[2018-05-14 15:18] SamanthaDawsonBanks commented on #92
ok, so, a member fires up forms a herd, elects a leader, the member registers with the leader and the lead requests a lidar read, that read in then added to the herd map and the members (need to add code for view) get notified and request updated herd data...

 I think that is the full startup and data cycle??

[2018-05-14 15:21] HarryWJackson1996 commented on #163
well i have only considered extensibility from a pathfinding/heuristic point of view, all my stuff will be done by Wednesday, prior to fridays submission

[2018-05-14 15:25] SamanthaDawsonBanks commented on #197
harry i know you have been working on the gui how many of these bits are being worked on / done?

[2018-05-14 15:25] HarryWJackson1996 commented on #197
I did a commit yesterday with added functionality

[2018-05-14 15:26] SamanthaDawsonBanks commented on #56
issues with the wheels (they keep falling off...) but otherwise all good?

[2018-05-14 15:26] SamanthaDawsonBanks commented on #55
lidar is now "fitted" US mounts have arrived compass looking like MS5

[2018-05-14 15:27] HarryWJackson1996 commented on #197
the Go button was done, killMember and runtime exception for leader

[2018-05-14 15:27] SamanthaDawsonBanks commented on #221
looks like we need a maths appendix can people start to compile there math bits plz

[2018-05-14 15:27] SamanthaDawsonBanks commented on #211
...

[2018-05-14 15:28] SamanthaDawsonBanks commented on #219
comments? drafts?

[2018-05-14 15:28] #220 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-14 15:30] HarryWJackson1996 commented on #221
yeah, as the hand in is friday and we should aim for wednesday to pull it together and review the work as whole. this includes double checking the maths etc.

[2018-05-14 15:32] SamanthaDawsonBanks commented on #163
remember (all) that we are aiming to group spellcheck and compose the doc on Wednesday for final fixes (and I do mean fixes not still writing) on Wednesday night / Thursday morning

this is so we can get it printed etc etc

[2018-05-14 15:32] HarryWJackson1996 commented on #197
should i do a PR for the A* updates and GUI?

[2018-05-14 15:38] SamanthaDawsonBanks commented on #197
yeah if it is ready then PR it, can you also go through the list and tag then bits you have done so we can see what still needs to be done plz

[2018-05-15 12:37] SamanthaDawsonBanks commented on #47
c7 being split and removed

[2018-05-15 12:44] #55 closed, assigned to SamanthaDawsonBanks

[2018-05-15 12:45] #56 closed, assigned to SamanthaDawsonBanks

[2018-05-15 12:45] #75 closed, assigned to HarryWJackson1996

[2018-05-15 12:47] CFuterman commented on #154
Got the last little bits to write up that we discussed in the last meeting. I will close the issue as and when it is completed

[2018-05-15 12:47] #88 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996

[2018-05-15 12:48] stevempope commented on #158
Ready for proofing

[2018-05-15 12:49] stevempope commented on #192
Ready for proofing

[2018-05-15 12:50] #92 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-15 12:53] SamanthaDawsonBanks commented on #163
c7 sectioned off in to the individual sections

[2018-05-15 12:53] #163 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996

[2018-05-15 12:53] #211 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-15 13:07] #221 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-15 13:44] CFuterman commented on #157
I am happy with what I have written on this section, I have made changes based on Steve's read, and am happy to close this issue as we are looking at it tomorrow as a group.

[2018-05-15 13:44] #157 closed, assigned to stevempope, CFuterman

[2018-05-15 13:46] CFuterman commented on #85
Just as a reminder of the layout of how i would like everyone to input the major tasks: just a couple of issues each under whichever subtitle you feel you completed a major task. example of layout is below:

•	Motors and power supply fitted, wheels attached - #56
The motors needed to be wired to their shields. The power supply are batteries and the wires had to be sorted out. We came to a problem

[2018-05-15 13:50] SamanthaDawsonBanks commented on #221
maths to be check during Wednesday meetup

[2018-05-15 13:50] SamanthaDawsonBanks commented on #211
branches cleared up

[2018-05-15 13:51] SamanthaDawsonBanks commented on #56
scheduled for Wednesday meetup

[2018-05-15 13:51] SamanthaDawsonBanks commented on #55
scheduled for Wednesday meetup (except compass)

[2018-05-15 13:57] SamanthaDawsonBanks commented on #219
change of plans poster is now poster(s):
1 for mapping and data-types
1 for path-finding and GUI
1 for comms and herd
1 for driving and sensing
all please remember that the posters showcase the work so also include a section to business stuff (unless you want a separate poster for that Charles?)
A1 setup for print (CMYK, 150DPI, ISO 300%, with black = 75,68,67,90) see blank file in OD

[2018-05-15 14:39] SamanthaDawsonBanks commented on #219
![postera1](https://user-images.githubusercontent.com/25463297/40063789-00e51508-5856-11e8-8cc1-5e0503c97df6.png)
still not sure about the text size (i think the content text is too big and we wont get enough words in) [??comments from anyone that fas seen the other posters??]

[2018-05-15 14:40] SamanthaDawsonBanks commented on #219
template file is in OD

[2018-05-15 15:33] SamanthaDawsonBanks opened #232 "Restarting path-finding with new data"
as the path-finding could be restarted (expanded map, interrupted op, lidar invis, bigger herd) there could be a case where areas were searched / evaluated multiple times.
but as we are storing the "searched space" AKA closed list could we just load the closed list then restart again?

separately (but related) if searched can be paused and resumed could that go one to be the bases of some form of

[2018-05-15 16:10] HarryWJackson1996 commented on #232
yeah it would be a good idea if we restarted the pathfinding we assess what we already know and only expand whats necessary?

[2018-05-16 00:29] CFuterman commented on #173
License standards document is complete and can be found on the OneDrive. The readme file was something that I haven't been able to get round to today, if two of us work on it tomorrow, I feel this can get completed quicker

[2018-05-16 00:30] CFuterman commented on #154
I have completed this, and it is ready to be read over tomorrow in our meeting.

[2018-05-16 00:30] #154 closed, assigned to CFuterman

[2018-05-16 00:31] CFuterman commented on #162
I haven't been able to complete my part of this documentation as the images of GUI hasn't been uploaded to the OneDrive. I will work with Harry on this tomorrow.

[2018-05-16 09:37] CFuterman commented on #47
Just a reminder that we decided on during the Skype call yesterday, are we putting our individual reflection at the bottom of our process log?

[2018-05-17 09:33] stevempope opened #236 "Final M4 Jobs List"
- [x] State of the Art
- [x] Headings in Provability
- [x] Conclusion
- [x] Reflection
- [x] Group communication
- [x] Tools used
- [x] Introduction

- [x] Abstract
- [ ] Update Lexicon of terms
- [x] Citations in Ethics

- [x] Appendix references in Ethics

- [x] Headings in Ethics

- [x] Yellow text in Ethics

- [x]  Citations in Provability and Security

- [x]  Steve check appendices

- [x] Par

[2018-05-17 19:16] CFuterman commented on #236
@DavidAveryUoB is the parts list up to date on the issue with the parts?

[2018-05-17 20:10] #232 closed, assigned to stevempope, SamanthaDawsonBanks, HarryWJackson1996

[2018-05-19 09:23] stevempope commented on #192
Completed and Handed in

[2018-05-19 09:23] #192 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert

[2018-05-19 09:24] stevempope commented on #158
Completed and Handed in

[2018-05-19 09:24] #158 closed, assigned to stevempope, SamanthaDawsonBanks, CFuterman

[2018-05-19 09:24] stevempope commented on #47
Final Report Submitted

[2018-05-19 09:24] #47 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-19 09:24] stevempope commented on #65
All process logs up to date and submitted

[2018-05-19 09:24] #65 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-19 09:25] #66 closed, assigned to stevempope, CFuterman

[2018-05-19 09:25] #85 closed, assigned to stevempope, SamanthaDawsonBanks, CFuterman

[2018-05-19 09:25] #155 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-19 09:26] #162 closed, assigned to HarryWJackson1996, CFuterman

[2018-05-19 09:26] #159 closed, assigned to SamanthaDawsonBanks, RyanShoobert

[2018-05-19 09:26] #160 closed, assigned to SamanthaDawsonBanks, HarryWJackson1996

[2018-05-19 09:26] #161 closed, assigned to SamanthaDawsonBanks, RyanShoobert

[2018-05-19 14:01] stevempope commented on #219
I think the template you put up looks perfect.

We need our Posters printed by Tuesday at the latest.

Would you like me to take a photo of the collection of robots on Tuesday, or are you happy for that background and to have a more modern picture in one of the frames?

I was going for hardware and provability, so that probably makes sense to have a hardware picture on board?

[2018-05-22 14:48] #219 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-22 14:48] #173 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-22 14:48] #17 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-22 14:48] #91 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-22 14:49] #236 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-22 14:49] #197 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996, CFuterman

[2018-05-22 14:49] SamanthaDawsonBanks commented on #79
this should be factored out into the readme

[2018-05-22 14:49] #79 closed, assigned to SamanthaDawsonBanks

[2018-10-31 19:49] stevempope opened #238 "Introduction"

[2018-10-31 19:50] stevempope opened #239 "1. Provability"

[2018-10-31 19:51] stevempope opened #240 "1.1 Mathematical Provability"

[2018-10-31 19:51] stevempope opened #241 "1.2 Unit Testable"

[2018-10-31 19:52] stevempope opened #242 "2. Extensible (scalability)"

[2018-10-31 19:53] stevempope opened #243 "2.3 API"

[2018-10-31 19:54] stevempope opened #244 "2.2 Object Oriented Programming"

[2018-10-31 19:54] stevempope opened #245 "2.1 Modularity"

[2018-10-31 19:55] stevempope opened #246 "3. Cost Effectiveness"

[2018-10-31 20:01] stevempope opened #247 "Conclusion"

[2018-10-31 20:02] stevempope opened #248 "Acknowledgements"

[2018-10-31 20:02] stevempope opened #249 "References"

[2018-10-31 20:04] stevempope opened #250 "Equations"

[2018-10-31 20:04] stevempope opened #251 "Figures"

[2018-10-31 20:05] stevempope opened #252 "Tables"

[2018-10-31 20:06] stevempope opened #253 "Abstract"

[2018-10-31 20:06] stevempope opened #254 "Title of Paper"

[2018-11-01 13:24] stevempope commented on #249
1st Reference in #238 on PAGE 12 line 20 @ http://www.ce.utexas.edu/prof/kockelman/public_html/TRB15SAVswithDRSinAustin.pdf

Can be found in TRANSPORTATION 45: 1-16 (2016)

DYNAMIC RIDE-SHARING AND FLEET SIZING FOR A SYSTEM OF SHARED
AUTONOMOUS VEHICLES IN AUSTIN, TEXAS

 Daniel J. Fagnant
 The University of Texas at Austin
 6.9E Cockrell Jr. Hall
 Austin, TX 78712
 danfagnant@hotmail.com

 Kara M

[2018-11-01 13:35] stevempope commented on #249
2nd Reference #238

https://arxiv.org/ftp/arxiv/papers/1802/1802.10138.pdf

Real-World Modeling of a Pathfinding Robot Using Robot Operating System (ROS)

Sayyed Jaffar Ali Raza(1), Nitish A. Gupta(2), Nisarg Chitaliya(3), Gita R. Sukthankar(4)
Department of Electrical Engineering & Computer Engineering University of Central Florida 32816 Orlando, Florida USA
jaffar@knights.ucf.edu, nitish.gupta@k

[2018-11-01 13:42] stevempope commented on #238
Pathfinding and navigation research can be a costly task, with production quality Autonomous Vehicles using hardware estimated to cost $50,000(reference 1 #249). To test new ideas effectively, a design for a scalable approach is required. Attempts at a low cost pathfinding platform have been attempted by other research teams (reference 2 #249), but the implementations are specific to the research

[2018-11-01 15:35] stevempope commented on #254
A modular framework for pathfinding research: achieving scalability and cost effectiveness

[2018-11-02 09:59] stevempope commented on #248
Acknowledgements would be anyone who was on the project but who has not written any part of the paper. So I am presuming that would be Charles and Goran, as Charles was on business and not technical and Goran was second reader. Also if any of us end up not producing any text for the paper I presume that is an acknowledgement and not a co author?

[2018-11-02 10:06] SaeedMalekshahiUoB commented on #248
The paper submission needs to name peoples who are directly involved with the paper, and contribute to it. This means those who are writing the paper and edit it as well as the main supervisor who has to edit the paper. You are right that Goran and Charles are not part of this paper.

[2018-11-02 12:22] SamanthaDawsonBanks commented on #254
A modular framework for path-finding research: achieving provability, scalability, and cost effectiveness

[2018-11-02 12:43] SaeedMalekshahiUoB commented on #254
Good title.

[2018-11-09 10:42] stevempope opened #255 "Conference Location & paper specification"
Regarding the conference our paper is most appropriate for our paper:

We believe the IEEE INTERNATIONAL CONFERENCE ON SOFTWARE ARCHITECTURE (ICSA 2019) hosted in Hamburg 25th -29th March 2019 would be the most appropriate.

The tool demonstration track seems to be the most appropriate for our work.
https://swk-www.informatik.uni-hamburg.de/~icsa2019/call-for-papers/tool-demonstrations-papers/inde

[2018-11-09 10:52] HarryWJackson1996 commented on #254
good Title, ready to close the issue.

[2018-11-09 10:53] RyanShoobert commented on #254
I am happy with the title suggested

[2018-11-09 10:53] #254 closed, assigned to stevempope, SamanthaDawsonBanks, RyanShoobert, HarryWJackson1996

[2018-11-09 11:04] stevempope commented on #238
Arc for introduction should be:
-Robotics research can be expensive and requires expertise in a variety of areas
-We were handed an iterative robotics project and told to extend it further
-We realised it would be advantageous to have a modular framework for future research

[2018-11-09 11:22] SamanthaDawsonBanks commented on #238
good points to include, could be the state of the previous project (not OOP)
- how changing one bit needed to change others
-

[2018-11-09 11:35] SamanthaDawsonBanks commented on #255
max 4 pages
so 1/3 for intro

[so 2 pages for content]
(provable) - 2/3 page (long)
(modular) - 2/3 page (long) - fig for lifecycle / modules
 - fig for API
(cheap) - 2/3  page (short)
- fig (price list or pic of bot)
[end content]

1/3 to 2/3 for conc
1 for refs

[2018-11-09 11:44] SamanthaDawsonBanks commented on #245
control
primitives
herding
sensing / driving / LL comms
mapping
pathfinding
GUI

[2018-11-09 11:46] SamanthaDawsonBanks commented on #240
set theory

[2018-11-09 11:55] SamanthaDawsonBanks commented on #249
previous years team project (derived work)
our project (as paper stands alone)
the Git link (info for release etc)

[2018-11-09 11:56] stevempope commented on #253
Research can become expensive and complicated. We address these issues and present a framework for robotics reasearch, developed as part of a project investigating pathfinding. The capabilities of the framework are discussed and a proof presented. The modular nature of the framework and cost effectiveness of our solution is discussed, demonstrating the advantages to research teams.

[2018-11-09 12:06] HarryWJackson1996 opened #256 "GitHub repository preparation"
Primary Considerations:

1. GitHub project name: while the name was suitable in for the development stages of the product lifecycle, it is no longer representative of the framework ready for release and therefore it must be refactored.

2. Repository folder refactor: need to refactor the project repository which is more suitable for release.

3. README: The README will need to be more detailed in

[2018-11-09 12:22] stevempope commented on #246
-Core modules are pre-written, so no need for expertise outside of research/prevents projects stalling
-Allows research effort to focus on the development of the art
-Our project as an example of low cost

[2019-03-01 09:19] stevempope opened #257 "Putting the Research Draft Together"
Link to A version draft will be posted here

[2019-03-01 09:37] stevempope commented on #257
https://1drv.ms/f/s!Ag8ltIR_fmKqmpcw95xmpLnA1oG21Q

[2019-03-01 10:16] stevempope commented on #257
Folder for versions https://onedrive.live.com/?id=AA627E7F84B4250F%21428976&cid=AA627E7F84B4250F

[2019-03-17 14:06] #238 closed

[2019-03-17 14:06] #239 closed

[2019-03-17 14:06] #240 closed

[2019-03-17 14:06] #241 closed

[2019-03-17 14:06] #242 closed

[2019-03-17 14:06] #243 closed

[2019-03-17 14:06] #244 closed

[2019-03-17 14:06] #245 closed

[2019-03-17 14:06] #246 closed

[2019-03-17 14:06] #247 closed

[2019-03-17 14:06] #249 closed

[2019-03-17 14:06] #250 closed

[2019-03-17 14:06] #251 closed

[2019-03-17 14:06] #252 closed

[2019-03-17 14:06] #253 closed

[2019-03-17 14:06] #248 closed